<div class="row division">
  <div class="col-lg-12 col-sm-12" ></div>
</div>

<div class="row alternated" id="pricing">
  <div class="col-lg-12 col-sm-12 alternated">

    <h2>Opções de acomodação</h2>
    
    <ul id="rooms" class="row">

      <li class="col-lg-3 col-sm-12">
        <div class="wrap">
          <%= image_tag "shared.jpg" %>
        </div>
        <p>Dividir o quarto com outro participante do evento</p>
        <h4>Quarto Compartilhado</h4>
        <p class="price">R$ 2.330,00</p>
      </li>
      
      <li class="col-lg-3 col-sm-12">
        <div class="wrap">
          <%= image_tag "private.jpg" %>
        </div>
        <p>Um quarto só para você</p>
        <h4>Quarto Individual</h4>
        <p class="price">R$ 2.970,00</p>
      </li>
      
      <li class="col-lg-3 col-sm-12">
        <div class="wrap">
          <%= image_tag "family.jpg" %>
        </div>
        <p>Leve sua família, 2 adultos e 1 criança até 10 anos</p>
        <h4>Quarto Família</h4>
        <p class="price">R$ 3.400,00</p>
      </li>

    </ul>
  </div>
	
	<div class="col-lg-12 col-sm-12 alternated">
		<div class="alert alert-primary alert-promo">
		  Pagamentos à vista por boleto, DOC ou TED tem 5% de desconto..
		</div>
	
	</div>
  <div class="col-lg-6 col-sm-12 alternated">
    <div class="white-box">
      <h3>O que está incluso?</h3><hr>
      <p id="all_included">
        Todas as opções de acomodação possuem:
      </p>
      <ul>
        <li>Café da manhã</li>
        <li>Almoço</li>
        <li>Jantar</li> 
        <li>Hospedagem</li>
        <li>Custo das atividades e materiais do evento</li>
      </ul>  
      <p>
        Cobrança extra para bebidas e estacionamento.
      </p>

      <p>
        Para outras opções entrar em contato com a organização do evento através do e-mail: organizacao@agilecoachcamp.com.br
      </p>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 alternated">
    <div class="white-box">
      <h3>Como funciona o pagamento?</h3><hr>
      <p>
        O pagamento pela acomodação acontece logo após aceitação da participação que envolve a aprovação do Position Paper e avaliação do feedback de participação do ano anterior.
      </p>
      <p id="all_included">
        O pagamento pode ser feita através de:
      </p>
      <ul>
        <li>Cartão de Crédito</li>
        <li>Tranferência</li>
        <li>Boleto</li> 
      </ul>
    
      <p id="parcelamento">
        No cartão de crédito é possível parcelar em até 18x, e segue a nossa <a href="https://drive.google.com/file/d/1CXy_aOXZfYmd8whH1zuISJ98VzQn65eQ/view?usp=sharing">tabela de parcelameto</a>.
      </p>
    </div>
  </div>
</div>