<div id="conteudo_gerado" class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12 col-sm-12" id="paineis">
      <img id="image1" class="active" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_01_AGILE_COACH_CAMP_2020_baixa.jpg" />
      <img id="image2" class="hidden" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_02_AGILE_COACH_CAMP_2020_baixa.jpg" />
      <img id="image3" class="hidden" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_03_AGILE_COACH_CAMP_2020_baixa.jpg" />
      <img id="image4" class="hidden" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_04_AGILE_COACH_CAMP_2020_baixa.jpg" />

      <ul id="image-dots">
        <li>
          <a class="show-image active" data-target="image1">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="8"></circle>
            </svg>
          </a>

            <a class="change-image hidden" data-target="image1">
              <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"/>
              </svg>
            </a>

          </li>
        <li>
          <a class="show-image hidden" data-target="image2">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="8"></circle>
            </svg>
          </a>


          <a class="change-image" data-target="image2">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="show-image hidden" data-target="image3">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="8"></circle>
            </svg>
          </a>


          <a class="change-image" data-target="image3">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="show-image hidden" data-target="image4">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <circle cx="10" cy="10" r="8"></circle>
            </svg>
          </a>


          <a class="change-image" data-target="image4">
            <svg class="bi bi-circle" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 17a7 7 0 100-14 7 7 0 000 14zm0 1a8 8 0 100-16 8 8 0 000 16z" clip-rule="evenodd"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
