<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "profile-pic/ari-amaral.jpg" %>
    
    <h1>Ari do Amaral Torres Filho</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Desde 2008 trabalhando com métodos ágeis. Ajudei a implantar ágil na universidade Federal do ceará em 2009 onde construímos a primeira plataforma de ensino e aprendizado utilizando Scrum , Kanban, BDD, TDD e integração contínua. Disponível em www.github.com/wwagner33/solar , formei 5 times Scrum atuei como Scrum Master inicialmente e depois como Agile Coach e produzimos alguns cases de Agile na educação além de ter originado minha dissertação de mestrado focado em métodos ágeis. 
      </p>
      <p>
      Formei mais de 3000 pessoas em métodos ágeis, seja Scrum , Kanban, Management 3.0 e Positive Management. Desenvolvi várias técnicas de team building e criei alguns jogos onde usei em consultorias dentro e fora do País ajudando a melhorar os resultados dos produtos e projetos.
      </p>
      <p>
      Gerenciei a Área de de desenvolvimento de uma empresa de inteligência em transportes, onde capacitei e ajudei a implantar a cultura ágil dentro da empresa além de cuidar dos 7 times de desenvolvimento e apoiar os POs e Scrum Masters. 
      </p>
      <p>
      Ministro de desde 2012 aulas em pós graduação ensinando métodos ágeis, atualmente na ESPM , IMPACTA , FIA e PUC em São Paulo.
      </p>
      <p>
      Atualmente na Accenture tendo treinado mais de 600 pessoas em 1 ano e trabalhando como evangelizador e Agile Coach em diversos projetos em grandes empresas como Santander, Bradesco, AES Eletropaulo, Mercedes , Claro, Mapfre, VIVO e VIA Varejo. Tenho atuado como mentor de Scrum MAsters, POs e ajudando a fazer mapeamento da cadeia de valor em vários clientes e adequando práticas e mindset ágil a sua realidade.      
    </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <ul>
      <li>
        Quais técnicas que os participantes tem usado para ajudar as pessoas a melhorar sua inteligência emocional?
      </li>
      <li>
        Quais métricas para medir eficácia e não eficiência nos times e empresas?
      </li>
      <li>
        Como mapear e utilizar os pontos fortes das pessoas para formação de equipes que produzam melhores resultados?
      </li>
      <li>
        Técnicas para engajar pessoas em um propósito
      </li>
    </ul>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <ul>
  <li>
  Games e experiências reais em alguns clientes ao longo desses quase 10 anos trabalhando com ágil.
  </li>
  <li>
  Vasta experiência em engajar pessoas e fazer com que a produtividade aumente focando na gestão da conexão das pessoas (Fortalecer e tornar visível os pontos fortes das pessoas e fazerem descobrirem a melhor forma de trabalharem juntos).
  </li>
  <li>
  Experiências de ter trazido lucro de até 30% por cento a mais para uma organização em apenas 3 meses focando em melhorar o Lead time, remover gargalos e dar propósito e engajamento para equipes.
  </li>
  <li>
  Fazer perguntas poderosas e desafiadoras que nos façam refletir sobre eficácia e eficiência de resultados.
  </li>
  <li>
  Habilidade em facilitar reuniões e de otimização de retrospectivas.
  </li>
  <li>
  Ajudar a mostrar que  hardskills e Softskills precisam ser combinados e compartilhar alguns cases em empresas que fiz essa combinação e obtivemos bons resultados.
</li></ul>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
  Pra mim fazer com que ágil otimize os resultados em grandes empresas de forma escalada. Todo mundo quer usar, mas ao meu ver ter pessoas preparadas para serem agentes de mudança e focadas em trazer bons resultados ainda é um grande desafio.
  </p>
  <p>
  Trazer os executivos para o jogo e usar ágil como um acelerador para trazer dinheiro novo para as organizações.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>