<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "profile-pic/erasto.jpg" %>
    
    <h1>Erasto José Meneses Ortiz</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Sou um profissional com 17 anos de experiência executando a longo da minha carreira papeis como Champion Kaizen, Agile Coach, Gerente de Projetos, Gerentes de QA, Change Management Especialist. Tenho uma longa experiência em promover transformações culturais com base na melhoria continua Lean e Agile.
      </p>
      <p>
      Comecei no mundo Lean no 2004 com a minha passagem pela Toyota Finantial Services na Venezuela, onde atue por 3 anos como Champion Kaizen treinando e capacitando o pessoal na cultura e práticas Lean assim como desenvolvendo as melhorias continuas em formato A3 utilizado no Toyota Way para resolução de problemas, oportunidades de melhoria, aumento da eficiência operacional com base no Value Stream Mapping, etc. Neste tempo foi o campeão nacional do Kaizen Championship CUP promovido pela Toyota e 2º lugar na America Latina com a implementação de uma melhoria que atingiu a redução de custos de $500k e o incremento de 20% do coeficiente de eficiência operacional (CEFO) no fluxo de valor do processo melhorado.
      </p>
      <p>
      Atualmente atuo como Chief Agile Coach na Softplan com sede em Florianópolis, executando a transformação Lean-Agile na empresa com o intuito de melhorar a vida das pessoas que são o fator principal de qualquer mudança. Dentre das melhoras que estão sendo coletadas podemos trazer a melhoria da eficiência operacional, aumento da previsibilidade das entregas de produto, redução do Lead e do Cycle time, todo a través de um modelo desenvolvido In-Company que nos ajuda a medir a maturidade da nossa transformação denominado Maturidade por Faixas sempre utilizando o melhor que cada método propõe.
      </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <ul>
      <li>
        Gostaria muito de conhecer alguns outros cases de transformação que tenham sido bem sucedidos para troca de experiências, especialmente quando falamos de mudança de mindset e Cultura organizacional. Por outro lado, gostaria de compartilhar a nossa jornada neste sentido que tem alcançado ótimos resultados.
      </li>
      <li>
        Gostaria conhecer como outros Agile Coach abordam o cliente final no sentido de definir o que é valor para eles. Hoje nossos clientes ainda trabalham com contratos definidos por pontos de função onde todo o contratado deve ser entregue e não existe priorização nenhuma. Neste sentido nós estamos utilizando o "custo do atraso" para internamente priorizar as demandas e não sair criando produto por cumprir um contrato e sim agregar valor aos nossos clientes.
      </li>
      <li>
        Práticas de gestão no modelo Management 3.0 com diferentes abordagens aplicadas em outras empresas. 
      </li>
    </ul>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Entre as minhas competências e conhecimentos, posso destacar:
    <ul>
      <li>Automation Processes Expert (Traditional and RPA).</li>
      <li>Práticas e Mindset Lean.</li>
      <li>Lean Change Management.</li>
      <li>Práticas de Self & Pofissional Coaching.</li>
      <li>Cultura Customer Success voltada para o valor.</li>
      <li>Práticas de Management 3.0</li>
      <li>Design Thinking para modelagem de resolução de problemas junto ao Kaizen A3.</li>
    </ul>
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
  Seria entender que mesmo tendo o melhor método, framework, ferramenta ou processo, se não tivermos a capacidade de engajar as pessoas em todos os níveis, de mudar o adequar a cultura e mindset organizacional, os resultados esperados poderão ser atingidos mas com muita mais dificuldade e maior investimento financeiro.
  </p>
  <p>
  Entender que os problemas só podem ser resolvidos quando se tem conhecimento deles. Que para poder entregar valor temos que ter sempre um propósito, e que para alcançar nossos objetivos em função desse propósito primeiro devemos saber reconhecer onde estamos e que temos que fazer para atingir o nosso objetivo.
  </p>
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>