<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "profile-pic/joao-marcos.jpg" %>
    
    <h1>João Marcos Filho</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Sou profissional experiente em gestão de equipes e projetos com mais de 17 anos de vivência e experiência na área. Atuei e gerenciei programas de transformação de grande porte e complexidade em diferentes segmentos de mercado. Tenho me dedicado ao "Universo Ágil" a pouco mais de 3 anos e me especializei em Kanban (cursos com David Anderson, Rodrigo Yoshima e Allison Vale). Desde esta época tenho aplicado ideias e conceitos de agilidade no meu dia a dia com diferentes equipes em que atuo/influencio na empresa em que me encontro atualmente.  
    </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <p>
      Trocar experiências e práticas com profissionais mais "cascudos" no tema agilidade e compartilhar erros e acertos na condução de atividades de transformação organizacional usando técnicas e ferramentas ágeis em diferentes áreas e níveis da empresa. Em linhas gerais aprender e compartilhar com quem fez (ou faz) uso dos princípios e do mindset ágil em sua conduta profissional.
    </p>
    <p>
      Um dos tópicos que mais me "incomoda" está relacionado a como conseguir promover uma mudança cultural mais efetiva na organização a partir da utilização de abordagens ágeis. Dúvidas frequentes do tipo: Como conseguir equilibrar soft e hard skills e obter o melhor de ambas com equipes e indivíduos? Como obter um maior (e melhor) engajamento dos indivíduos e das equipes para os objetivos e propósitos traçados pela organização? Que fatores considerar ou desconsiderar em um processo de avaliação de desempenho de equipes e dos indivíduos? Como criar uma cultura de feedback efetiva e que seja adotada de forma natural pelas pessoas? 
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <ul>
    <li>
      Uso de mindset e práticas ágeis nos Planos Estratégico/Tático da Organização - tenho experiência na elaboração de planos estratégicos e desdobramentos para ações táticas e estabelecimento de metas (usando abordagem de OKR's) com revisões recorrentes para atualização e adequação ágil dos planejamentos estabelecidos; Esta abordagem ajuda a partir de uma visão macro para ações pontuais/específicas que mantem a linha e coerência com os principais objetivos da organização;
    </li>
    <li>
      Uso de Kanban em áreas não TI - Ex.: Operações / Marketing / Eventos / Relacionamento com Clientes;
    </li>
    <li>
      Aplicação de técnicas de Design Thinking em fases de Ideação de Iniciativas de negócio - Ex.: Workshop de Ideação para estabelecer MVP de produtos/serviços (abordagem Thoughtworks - Paulo Caroli - Direto ao Ponto)
    </li>
  </ul>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
  Evoluir sua maturidade nas áreas que já utilizam ágil em seu mindset e rotina e expandir/ampliar sua adoção nas áreas "não-TI";
  </p>
  <p>
    Ter a capacidade (e porque não a competência) de se auto-questionar, se readaptar/flexibilizar e permitir sua melhoria contínua.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>