
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12 col-sm-12 faq">
      <article>
      <h1>FAQ - Perguntas Frequentes</h1><br>

      <h2>Sobre o evento </h2>

      <ul>
        <li>
          O que é desconferência?
          <p>
            O termo "desconferência" é utilizado para referenciar organizações de grupos de pessoas que tentam evitar aspectos de uma conferência comum.
          </p>
        </li>
        <li>
          Quando e onde será o evento?
          <p>
            O evento acontecerá nos dias 14, 15 e 16 de fevereiro de 2020, começando na sexta-feira às 14h e encerrando no domingo às 14h. O evento será em um Eco Resort próximo à cidade de São Paulo em Mairiporã, na Estr. Armando Barbosa de Almeida, 8000 - Caceia, Mairiporã - SP, 07600-010.
          </p>
        </li>
      </ul>

      <h2>Sobre eu ir no evento</h2>

      <ul>
        <li>
          O ACC é pra mim?
          <p>
            O objetivo do ACC é estimular discussões mais profundas sobre temas que envolvem Agilidade. Caso você tenha experiência com Agilidade ou mesmo queira aprofundar os seus conhecimentos participando de discussões como estas, sim, o ACC é para você.
          </p>
        </li>
        <li>
          Quem vou encontrar lá?
          <p>
            Pessoas que querem trocar experiências sobre agilidade em um nível mais profundo. Alguns participantes têm grande influência na comunidade ágil, outros são pessoas mais influentes em outras comunidades, e outros são pessoas menos conhecidas que também tem boas experiências com agilidade  e será uma grande oportunidade de discutir pessoalmente com essas pessoas.
          </p>
        </li>
        <li>
          Não sou Agile Coach. Posso ir ao ACC?
          <p>
            Sim. O ACC não é um evento exclusivo de Agile Coaches. Todas aquelas pessoas que buscam  aprofundamento sobre Agilidade podem participar do ACC. Nos anos anteriores tivemos pessoas desenvolvedoras, pessoas de gestão de produtos etc, e tem sido muito enriquecedor para o ACC contar com a presença destas pessoas no evento, pois trazem pontos de vistas diferentes e melhoram a experiência do camp para todos.
          </p>
        </li>

        <li>
          Eu preciso ser uma pessoa super ativa e experiente na comunidade de agilidade para poder participar?
          <p>
            Não, você não precisa ser uma pessoa super ativa na comunidade, você precisa ter uma certa bagagem com agilidade para conseguir acompanhar e contribuir com as discussões. Por isso exigimos no mínimo 3 anos de experiência com agilidade para participar do evento, claro que só isso não garante nada, mas esta é uma características que temos encontrado nas pessoas que conseguem ter uma participação plena no evento.
          </p>
        </li>

        <li>
          O processo de inscrição parece uma sabatina bem rígida, tenho receio de não ser aceita para participar. Devo tentar?
          <p>
            O processo de inscrição não é uma sabatina, é mais uma conversa onde uma pessoa da equipe de organização pode te ajudar a entender melhor como será a sua participação no camp, este processo está mais próximo de uma integração do que de uma avaliação, todas as pessoas dispostas a conversar tiveram sua submissão confirmada, no final é uma decisão sua se irá participar ou não, mas nossa recomendação é que na dúvida você submeta e entendemos melhor com você.
          </p>
        </li>
      </ul>

      <h2>Sobre a inscrição</h2>

      <ul>
        <li>
          Qual o valor da inscrição?
          <p>
            Depende da escolha de acomodação, temos as seguintes opções:
            <ul>
              <li>Quarto compartilhado com outro participante: R$1.530,00.</li>
              <li>Quarto individual: R$1.950,00.</li>
              <li>Quarto com sua família: R$2.250,00.</li>
            </ul>
          </p>
        </li>
        <li>
          Quem vou encontrar lá?
          <p>
            Pessoas que querem trocar experiências sobre agilidade em um nível mais profundo. Alguns participantes têm grande influência na comunidade ágil, outros são pessoas mais influentes em outras comunidades, e outros são pessoas menos conhecidas que também tem boas experiências com agilidade  e será uma grande oportunidade de discutir pessoalmente com essas pessoas.
          </p>
        </li>
        <li>
          Quais são os outros custos?
          <p>
            Bebidas e estacionamento são os únicos custos extras, alimentação e custos do evento estão cobertos na sua inscrição.
          </p>
        </li>

        <li>
          O que é preciso para a inscrição?
          <p>
            O participante precisa criar um position paper, e precisa ter seu paper aprovado pela organização. Posteriormente o pagamento da inscrição.
          </p>
        </li>

        <li>
          Como faço a minha a inscrição?
          <p>
            Basta <a href="/2020/submission"> entrar em aqui</a> e seguir o passo a passo descrito na página.
          </p>
        </li>
      </ul>

      <h2>Sobre as opções de quarto</h2>

      <ul>
        <li>
          Tenho mais do que 1 filho ou meu filho tem mais do que 10 anos, qual é a opção de quarto para mim?
          <p>
            Entre em contato com a organização que podemos entender melhor o é possível fazer no seu caso, através do e-mail organizacao@agilecoachcamp.com.br
          </p>
        </li>
        <li>
          Eu quero me inscrever e dividir o quarto com o/a meu/minha S.O.(significant other) que também será uma/um participante, como fazemos?
          <p>
            Neste caso como são dois participantes cada um precisa se inscrever como quarto compartilhado que lá na frente juntamos os dois no mesmo quarto. É importante ressaltar que os dois precisam passar pelo processo de inscrição independentemente.
          </p>
        </li>
      </ul>

      <h2>Sobre o deslocamento até o local do evento</h2>

      <ul>
        <li>
          Existe alguma opção de transfer/traslado até o hotel do evento?
          <p>
            Não existe um transfer oficial, como o local fica a menos de 1h do centro de São Paulo, um tempo de viagem é bem tranquilo para os parâmetros de São Paulo. Então o que fazemos é que os participantes se auto organizam para combinar caronas. Mas este momento acontece cerca de duas semanas antes do evento e não há garantias que você terá uma carona.
          </p>
        </li>
      </ul>

      </article>
    </div>
  </div>
</div>
