

<h1 class="display-3 d-xs-none" style="font-size: 80px; text-align:center">Agile Coach Camp</h1>
<hr><hr>
<p class="lead" style="text-align:center">A melhor oportunidade para discussões profundas sobre temas avançados</p>
<div style="background-color:#68ACAC; color:#fff; border-radius:600px; width: 40%; text-align:center; padding: 40px; margin: auto">
  <h1 style="font-size: 50px;margin-bottom:0px; line-height: 1.5">
    23-25<br>
    Março<br>
    2018
  </h1>
</div>
<br>
<p style="text-align:center; font-size: 40px;">Aprendizado, Networking e Acaso</p>


<p style="text-align:center; font-size: 25px;">
  http://agilecoachcamp.com.br - <strong>Inscrições abertas até 04/03</strong><br>
  Refúgio Cheiro de Mato - contato@agilecoachcamp.com.br<br>
</p>