
<section id="photos" class="row"> 
  <div class="col-lg-6 col-md-6 col-sm-12" id="general_photos">
    <div class="list-group">
      <a href="https://photos.app.goo.gl/CFsdve6j1E3aWvYp9" class="list-group-item flex-column align-items-start">
        <div class="mb-1">
          <img src="https://lh3.googleusercontent.com/Y8FGE1re6GqmnwGPtZC-6bZmuzHMCM2fCpOklGmYvPxh1kVPNv9xmcYlBAP7JhtxKyP_6pjr7dvKXU0chvcMZu09KNYC9gN7_xx3SMlYzXspQEXpAN1KoiuvYdSEIoOaZrtGWFWQWJi07tukxqbg5ABnk3eupXDWhdii4umszukstgiCye65ap6F9Rq9_mEh4Pp_qP78nDlUg3_uD4d2EWG-J90CW7W2EhS23IL4RmaXS9hhqWSKUYx_jUNzUBpYe-M6HYFqBrVw1XqczTXv733h8HBQt1wDWwvK-slx1EkjUZiN45qBeYl2UXxM9RAhe30-BYAdJ6Ubaa5PPSFrAgLGDcApyyCr-CtmhUsG8Jyl_jU66e5NQu1A7o_KtXdRn4-04OQL4jfMpFrggG6ckEUCF-XFbbbLQX5PNB80uXEcNTzxSDC19_yRbFSkLNK2Hpx6obdNVFwP1WDyBvXCkaCKx6rB149eXnAR8CoVqTPG88W5DZNpLUOQ_F80j4SI_bAfMyzaeA6MqlVJnYMxZ0WP94f-Lw1rSlZ-YGGxzsRsloeV9PJZ1_fmRfwEMd8f_9FGWrhJucEQeS_E3q8U6w72DrTitqDM51tjaf4i=w1280-h960-no" class="col-lg-10 col-md-10 col-sm-10" />

          <h2>Fotos em geral</h2>
        </div>
      </a>
    </div>
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="list-group">
      <a href="https://photos.app.goo.gl/FWCSUNLJR4JQq7nw6" class="list-group-item flex-column align-items-start">
        <div class="mb-1">
          <img src="https://lh3.googleusercontent.com/RuF-NFd5KEs6gr3GRHPx4eiVcHJpHFghMBT1Je8GVBmTeJNUxWseZkU05nA87734755oFjiFTXOSN3xYd7S5xI14MWcWa5FeeJ1JwQeXJc4QT57wLF0SM_J70fq9KGnQCmwJLXVy3j2yGTvYlfnxqqxnyES2NnEfLvfgaL8Kpf1iL6M_RGv0-rZjCi4N9XcYe-8JhkKzhz_bW1BmeTAvAz8WUIVsaybBxCda26J1yiCC3l5xRR_9KUfRQhMmmWcxdNL4t9haVbPNaXz16ZHeJ25Bd1FlPdpMRDDS3ST3OTKGtwtlw9bzdnBdsqWqWYM7V6cd7UsfO2QlE5t_nG-vkaoRvXZwijvIpCSicoxwCZWvo5h_D-WnSZcQx3zBQklwW0yeGxOkwLy5l-iDtAce_zRdkFcKQr4x0FbDPWl0MeJsyLoxSIFDNOgQgFyGjDuOpCw-wx_XOPS3-oktsQNsutYois3fn8qSgdEKpbV_zlS7b8Q8aDVKnf1wETrsVV4RvvXdinw-WA6dj_U_aXDhPEOJkvONEZyJQF4yDCP1ETYWSCDrwGUSboP2UihC6MJa3wYV68oHqi4eEYf7gGUTZijC32KOlotEPlFlPHWcwpKsHz9Q6E9skjVtRy9BgnDsYBm6zSyBw0Tc1EhKAmxMLLqiBNTJzY0MZQ=w994-h1324-no" class="col-lg-10 col-md-10 col-sm-10" />

          <h2>Open spaces</h2>
        </div>
      </a>
    </div>
  </div>

  
  
  <!--
    <h2>Fotos do Camp</h2><br>
    <script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
    <div class="pa-embed-player" class="col-lg-12 col-md-12 col-xs-12"
      data-link="https://photos.app.goo.gl/CFsdve6j1E3aWvYp9"
      data-title="Agile Coach Camp 2018"
      data-descrition="3 new photos · Album by Raphael Molesim">

      <img data-src="https://lh3.googleusercontent.com/zocGc04ZX7EBPkOP4UQ_gWXKwERE3SpKdCph_dThrrbUcdSZ8ApkYFany0u98TdspZ5aeGLzFjaqPe2CxuPboJblj26NkBggJa9ofaXf26g1zTO34ILCJmcfs9IaMmrXMACqoqjk1x8=w2976-h3968" src="" alt="" />
      <img data-src="https://lh3.googleusercontent.com/iNdtx4VvBkjcMgcw2tvjiIj2G2iKljhDVYkCzO6-PdZfWyk0IK7peDNI0xLMKybe1cTv0kq8XQGvCbvnHnSkTkd-q5GTF6-SRmfVF4JjEXeywTeeOYro1tKM0aXnDVZaJFeWcyh7Nbk=w3968-h2976" src="" alt="" />
      <img data-src="https://lh3.googleusercontent.com/4GvwaxVTxgpozrxjQB4TpZl1f8IySud7X8wv06dBxzMAQCCSzhWE-4A1t7xLQVwlMXNHcF5BYbdR3BfCXzKGqmTqAD3KoFrrBU5buVP0XPWYI0UPSNHMOFNub8Y8GUCzwpLqX7Rc7Jw=w3968-h2976" src="" alt="" />
    </div>
    -->

</section>