
<section id="propose" class="row"> 

  <div class="col-lg-8 col-md-7 col-sm-6">
    <h2>O que é Agile Coach Camp?</h2>
    <p>
      Você ja esteve em uma conferência onde percebeu que os principais insights e aprendizados vieram de conversas que aconteceram nos corredores? Ou vieram de uma conversa que aconteceu durante um almoço, ou até mesmo no Happy Hour?
    </p>
    <p>
      O Agile Coach Camp é um evento onde desejamos criar oportunidades para discussões profundas sobre temas avançados em um formato de desconferência, além de conectar você com outros profissionais do mundo da gestão e com pessoas realmente interessadas em melhorar o trabalho nas organizações.
    </p>
    <p>
      O evento é realizado sem fins lucrativos e acontecerá nos dias 23, 24 e 25 de Março/2018 em um hotel fazenda próximo a cidade de São Paulo. Qualquer participante é livre para trazer sua família para usufruir do hotel nos dias do evento, de acordo com nossa política de acomodações. 
    </p>
  </div>
  
  <div class="col-lg-4 col-md-7 col-sm-6">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header"><h3>SAVE THE DATE</h3></div>
      <div class="card-body">
        <h4 class="card-title">23-25 Março de 2018</h4>
        <p class="card-text">Hotel fazenda próximo a São Paulo<br>
        Apenas 30 Vagas</p>
        <p class="card-text">
          <form method="get" action="/surveys/new">
            <button type="submit" id="register" class="btn btn-primary">Inscrever!</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="promisses" class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <h2>Desconferência</h2>
      <p>
        Como base da desconferência vamos utilizara a tecnologia de Open Space durante a maior parte do evento, de forma a maximizar os aprendizados de conversas de corredor com um pouco mais de estrutura e organização.
      </p>
      <p>
        O Open Space é uma forma de auto-organização de reuniões e conferências em torno do que mais importa para as pessoas. As pessoas se juntam em torno de tópicos ou necessidades de alto nível e criam sua própria agenda; e então as pessoas formam grupos para terem ideias, debater ou discutir os tópicos propostos na agenda. De forma geral um evento Open Space é facilitado por um único facilitador e segue os seguintes princípios:
      </p>
      <ul>
        <li>“Aqueles que vierem são as pessoas certas.”</li>
        <li>“Seja o que acontecer é o que poderia ter acontecido.”</li>
        <li>“Quando ele começa é o momento certo.”</li>
        <li>“Acaba quando acaba.”</li>
        <li>“Se você não está aprendendo ou contribuindo, sinta-se a vontade para ir par um lugar onde você possa aprender e contribuir. Isso é conhecido como a leis dos dois pés”.</li>
      </ul>

  </div>
  
  <div class="col-lg-4 col-md-7 col-sm-6">
    <h4>Data e Hora</h4>
    <p>
      sexta-feira, 23/03/2018 14h00 - <br>
      domingo, 25/03/2018 14h00 <br>(Horário de Brasília GMT -03:00)<br>
      <a href="">Adicionar ao caledário</a>
    </p>
    
    <h4>Organização</h4>
    <p>
      contato@agilecoachcamp.com.br<br>
      Raphael Molesim<br>
      Rafael Buzon <br>
      Yoris Linhares</p> 
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>O que você encontrará lá?</h2>
  </div>
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Conexões</h5>  
        </div>
        <p class="mb-1">Valorizamos as conexões. Nós acreditamos que conexões fortes nós permitem alcançar muito mais que conseguiríamos sem elas. Esteja preparado para criar relacionamentos!
</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Acaso</h5>
        </div>
        <p class="mb-1">Nós estamos criando a oportunidade de coisas excelentes acontecerem, com as pessoas certas, no lugar certo e no tempo certo!
        </p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Diversão</h5>  
        </div>
        <p class="mb-1">Planejamos jogos ao ar livre para fomentar a confiança do grupo de participantes e promover conexões que liberem a criatividade e a inovação durante o evento</p>
      </a>
    </div>
  </div>  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Aprendizados</h5>  
        </div>
        <p class="mb-1">Criaremos espaços para expor todo o aprendizado que estiver ocorrendo durante o camp e situações que potencializem um profundo aprendizado</p>
      </a>
    </div>
  </div>


  <div class="col-lg-8 col-md-7 col-sm-6">

    <h2 class="after-promisses">Como isso funciona?</h2>
    <p>
      Esse Agile Coach Camp é realizado como <span class="text-info">um evento sem fins lucrativos, por praticantes e de custo neutro</span>. Você será cobrado por suas despesas de acomodação e material usados pelos participantes. Queremo realizar um evento pequeno, íntimo, onde os participantes podem se conectar e criar associações de longo prazo, nós já pré-reservamos 30 quartos!
    </p>

    <p>
      Procuramos por pessoas que são ávidas por novas ideias, que estão explorando os limites de sua carreira, que estejam ensinando, realizando mentoria ou facilitando grupos. Traga seus problemas. Traga seus experimentos. Traga suas soluções. Traga suas novas ideias. Traga VOCÊ! Nós mal podemos esperar para ajudar uns aos outros a crescerem!
    </p>
    
  </div>
  <div class="image-ideas col-lg-4 col-md-7 col-sm-6">
    <span class="helper"></span>
    <img src="http://thefutureofink.com/wp-content/uploads/2013/02/icon-ideas-into-action-copy.png" width="100%">
  </div>
</section>
<hr>
<section id="program" class="row">
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>Programação</h2><br>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sexta-Feira</h4></th>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Boas vindas & Tour aberto pelo hotel</td>
      </tr>
      <tr>
        <td>15h - 17h</td>
        <td>Sobrevivendo na SELVA!</td>
      </tr>
      <tr>
        <td>17h - 18h</td>
        <td>Acesso aos quartos</td>
      </tr>
      <tr>
        <td>18h - 19h</td>
        <td>Unplugged Talk</td>
      </tr>
      <tr>
        <td>19h - 21h</td>
        <td>Jantar</td>
      </tr>
      <tr>
        <td>21h - 22h</td>
        <td>Ritual de iniciação</td>
      </tr>
    </table>    
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sábado</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Regras gerais e Market Place</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>12h - 14h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>15h - 20h</td>
        <td>Aproveite o Hotel</td>
      </tr>
      <tr>
        <td>20h - 22h</td>
        <td>Jantar</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Domingo</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Caminhada</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Resolução de Problemas com executivos</td>
      </tr>
      <tr>
        <td>12h - 13h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>13h - 14h</td>
        <td>Retrospectiva e feedback</td>
      </tr>
      <tr>
        <td>14h</td>
        <td>Check Out!</td>
      </tr>
    </table>
  </div>
</section>
<hr>
<section id="commitment">
 <div class="col-lg-12 col-md-7 col-sm-6">

   <h2 id="participants">Participantes já confirmados</h2>
   <br>   
   <ul id="participants_list"class="row">
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/876165698359349248/hwdMYZBV_400x400.jpg">
       <a class="participant">Matheus Haddad</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://cdn-images-1.medium.com/fit/c/200/200/0*t3VYDFNJNPmdPSO8.png">
       <a class="participant">Rafael Albino</a>
     </li>

     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAs2AAAAJGZjODJlYTVhLWI4YzctNDc4ZS1iZGMwLTdkNmEyMWQzM2IxZA.jpg">
       <a class="participant">Mariana Graff</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/911957819645218818/FAvAn0PE_400x400.jpg">
       <a class="participant">Luiz Lula</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/641703974979112960/W6XXL4wx.jpg">
       <a class="participant">Raphael Molesim</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAtxAAAAJDUyNTA0NmNmLWMyNDktNDRjNS05YzU5LTg4MGY2ZmU3YmM2OQ.jpg">
       <a class="participant">Rafael Buzon</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPoAAAAJDg3NTM2NGZmLTc4YWYtNGE3ZS1iMmE2LWM1MzRlYTYzZWRhNg.jpg">
       <a class="participant">Yoris Linhares</a>
     </li>
   </ul>
   
   <h2 id="pricing">Quanto custa?</h2>
   <p>
     Temos três opções de quartos de acordo com a seu bolso, privacidade e companhia.
   </p>
   <ul>
     <li>Dividindo Quarto - R$ 1.080,00</li>
     <li>Quarto Individual - R$ 1.410,00</li>
     <li>Quarto Familia - R$ 1.800,00</li>
   </ul>
   <p>
     Todas as opções com refeições incluídas, hospedagem e todo custo das atividades do evento estão cobertas. Cobrança extra para bebidas e estacionamento.
   </p>
   
   <h2>Como se inscrever?</h2>
   <p>
     <form method="get" action="/surveys/new">
       <button type="submit" id="register" class="btn btn-primary">Inscrever!</button>
     </form>
   </p>
 </div>
</section>
<section id="submission">
</section>
