<section id="propose" class="row"> 
  <div class="col-lg-8 col-md-7 col-sm-6">
    <h2>Por que participar?</h2>
    <p>
      Você terá uma oportunidade de conectar, compartilhar, explorar, aprender e divertir-se com outras pessoas Agile Coaches e demais interessadas em liberar e ampliar seu potencial de ajudar as organizações e seus parceiros de negócio a obterem o domínio de seu trabalho.
    <h2>Desconferência, Camp?</h2>
      <p>
        O Agile Coach Camp é um evento de três dias que se apresenta como uma desconferência que usa Open Space, uma Tecnologia que possibilita que o melhor evento aconteça com base em quem participa.
      </p>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header"><h3>SAVE THE DATE</h3></div>
      <div class="card-body">
        <h4 class="card-title">23th-25th March, 2018</h4>
        <p class="card-text">Próximo a São Paulo</p>
        <p class="card-text">
          <button type="button" class="btn btn-primary">Inscrever Se!!</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="promisses" class="row">
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>O que é um Open Space?</h2>
      <p>
        O Open Space é uma forma de auto-organização de reuniões e conferências em torno do que mais importa para as pessoas. As pessoas se juntam em torno de tópicos ou necessidades de alto nível e criam sua própria agenda; e então as pessoas formam grupos para terem ideias, debater ou discutir os tópicos propostos na agenda. De forma geral um evento Open Space é facilitado por um único facilitador e segue os seguintes princípios:
      </p>
      <ul>
        <li>“Aqueles que vierem são as pessoas certas.”</li>
        <li>“Seja o que acontecer é o que poderia ter acontecido.”</li>
        <li>“Quando ele começa é o momento certo.”</li>
        <li>“Acaba quando acaba.”</li>
        <li>“Se você não está aprendendo ou contribuindo, sinta-se a vontade para ir par um lugar onde você possa aprender e contribuir. Isso é conhecido como a leis dos dois pés”.</li>
      </ul>
        
  <h2>O que você encontrará lá?</h2>    

  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Conexões</h5>  
        </div>
        <p class="mb-1">Nós valorizamos as conexões. Nós acreditamos que conexões fortes nós permitem alcançar muito mais que conseguiríamos sem elas. Esteja preparado para criar relacionamentos de confiança e aumentar a coesão do grupo.
</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Acaso</h5>
        </div>
        <p class="mb-1">Nós estamos criando a oportunidade de coisas excelentes acontecerem, com as pessoas certas, no lugar certo e no tempo certo!
        </p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Diversão</h5>  
        </div>
        <p class="mb-1">Nós jogamos. O jogo permite que as pessoas sejam tocadas alegremente em sua criatividade e sejam mais inovadoras. Os Campers são mais engajados e todo o Camp se torna mais inovador. A paixão é contagiosa!</p>
      </a>
    </div>
  </div>  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Resultados tangíveis</h5>  
        </div>
        <p class="mb-1">Nós iremos deixar visíveis os resultados principais das conversas.</p>
      </a>
    </div>
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2 class="after-promisses">Como isso funciona?</h2>
    <p>
      Esse Agile Coach Camp é realizado como um evento sem fins lucrativos, por praticantes e de custo neutro. Você será cobrado por suas despesas de acomodação e material usados pelos participantes. Isso provavelmente parece duro mas tendo uma restrição que permite um evento pequeno, íntimo, onde os participantes pode se conectar e criar associações de longo prazo, nós já pré-reservamos 30 quartos!
    </p>

    <p>
      Traga seus problemas. Traga seus experimentos. Traga suas soluções. Traga suas novas ideias. Traga VOCÊ! Nós mal podemos esperar para ajudar uns aos outros a crescerem!
    </p>
  </div>

</section>
<section id="venue" class="row">
  <div class="col-lg-6 col-md-7 col-sm-6">
    <h2>Onde acontecerá o Agile Coach Camp?</h2>
    <p>
      O evento acontecerá em um hotel fazenda próximo a cidade de São Paulo - Brasil. Qualquer participante é livre para trazer sua família, de forma a promover uma experiência mais rica e conversas casuais, por meio de atividades turísticas, esportes e divertidas.
      <center>
      <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/backpack-bag-travel-camping-3aceb74edccb382f-512x512.png" width="30%">
    </center>
    </p>
  </div>
  
  <div class="col-lg-6 col-md-7 col-sm-6">
    <h2>Quem deveria ir ao evento?</h2>
    <p>
      Pessoas que são ávidas por novas ideias, que estão explorando os limites de sua carreira, que estejam ensinando, realizando mentoria ou facilitando outras pessoas.
      <center>
      <img src="http://thefutureofink.com/wp-content/uploads/2013/02/icon-ideas-into-action-copy.png" width="60%">
    </center>
    </p>
  </div>
    
</section>

<section id="program" class="row">
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>Programação</h2>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sexta-Feira</h4></th>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Boas vindas & Tour aberto pelo hotel</td>
      </tr>
      <tr>
        <td>15h - 17h</td>
        <td>Sobrevivendo na SELVA!</td>
      </tr>
      <tr>
        <td>17h - 18h</td>
        <td>Acesso aos quartos</td>
      </tr>
      <tr>
        <td>18h - 19h</td>
        <td>Igreja da Falha</td>
      </tr>
      <tr>
        <td>19h - 21h</td>
        <td>Jantar</td>
      </tr>
      <tr>
        <td>21h - 22h</td>
        <td>Ritual de iniciação</td>
      </tr>
    </table>    
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sábado</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Regras gerais e Market Place</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>12h - 14h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>15h - 20h</td>
        <td>Aproveite o Hotel</td>
      </tr>
      <tr>
        <td>20h - 22h</td>
        <td>Jantar</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Domingo</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Caminhada</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Resolução de Problemas com executivos</td>
      </tr>
      <tr>
        <td>12h - 13h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>13h - 14h</td>
        <td>Retrospectiva e feedback</td>
      </tr>
      <tr>
        <td>14h</td>
        <td>Check Out!</td>
      </tr>
    </table>
  </div>
</section>

<section id="commitment">
 <div class="col-lg-12 col-md-7 col-sm-6">
   
 
   <h2>Quanto custa?</h2>
   <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
   
   <h2 id="participants">Participantes já confirmados</h2>
   
   <ul id="participants_list"class="row">
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/728295805841510400/h-qHDvoH.jpg">
       <a class="participant" href="/pappers/rodrigo_yoshima">Rodrigo Yoshima</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/876165698359349248/hwdMYZBV_400x400.jpg">
       <a class="participant">Matheus Haddad</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://cdn-images-1.medium.com/fit/c/200/200/0*t3VYDFNJNPmdPSO8.png">
       <a class="participant">Rafael Albino</a>
     </li>

     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAs2AAAAJGZjODJlYTVhLWI4YzctNDc4ZS1iZGMwLTdkNmEyMWQzM2IxZA.jpg">
       <a class="participant">Mariana Graff</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/911957819645218818/FAvAn0PE_400x400.jpg">
       <a class="participant">Luiz Lula</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/641703974979112960/W6XXL4wx.jpg">
       <a class="participant">Raphael Molesim</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAtxAAAAJDUyNTA0NmNmLWMyNDktNDRjNS05YzU5LTg4MGY2ZmU3YmM2OQ.jpg">
       <a class="participant">Rafael Buzon</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPoAAAAJDg3NTM2NGZmLTc4YWYtNGE3ZS1iMmE2LWM1MzRlYTYzZWRhNg.jpg">
       <a class="participant">Yoris Linhares</a>
     </li>
   </ul>
   
   <h2>Como se inscrever?</h2>
   <p>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
   </p>
 </div>
</section>
<section id="submission">
</section>
