<section id="propose" class="row"> 
  <div class="col-lg-8 col-md-7 col-sm-6">
    <h2>Unconference, camp?</h2>
    <p>
      Agile Coach Camp is a three-day event that serves as an unconference for agile coaches. An unconference using Open Space to bring together people interested in helping software development organizations and their business partners get better at mastering their craft. A wide variety of topics get explored each Camp.
    <h2>How does it work?</h2>
      <p>
        This Agile Coach Camp runs as a non-profit, neutral-cost and practitioner-run event. You will only be charged for your full-board accommodation expenses. We have already pre-booked 30 rooms.</p>
      <p>
        The event will take place in a farm hotel close do São Paulo, any parcipant is free to bring his family, in order to promote a richer experience and casual debates, thought turistic, sports and fun activities.
      </p>
    </p>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header"><h3>Save the date</h3></div>
      <div class="card-body">
        <h4 class="card-title">23th-25th March, 2018</h4>
        <p class="card-text">Refúgio Cheiro de Mato, Mairiporã, São Paulo</p>
        <p class="card-text">
          <button type="button" class="btn btn-primary">Register!!</button>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="promisses" class="row">
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>What will you find over there?</h2>

  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Seasoned Professionals</h5>  
        </div>
        <p class="mb-1">Each participant must submit proposal paper, answering some questions about which contribution is him bringing in.</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Safe and Confidential</h5>
        </div>
        <p class="mb-1">The event is going to be small, no more than 35 people, in order to have enought time to create trust relationship and raise tight group cohesion </p>
      </a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Serendipity</h5>  
        </div>
        <p class="mb-1">We are going to create an oportinity to great things happen, right people, at right place, at right time!</p>
      </a>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Tangigle Outputs</h5>  
        </div>
        <p class="mb-1">We are going to register the main output from conversations</p>
      </a>
    </div>
  </div>
  
</section>
<section id="venue">
</section>
<section id="commitment">
</section>
<section id="submission">
</section>

<!--
  <ul id="principles">
    <li>
      <div class="open-spaces principle">
        &nbsp;
      </div>
      <h4>Open Space Technology</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Costs Neutral</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Seasoned Professionals</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>30 participants</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Fun in Nature</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Two Sleeps</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Community</h4>
    </li>
    <li>
      <div class="principle">
        &nbsp;
      </div>
      <h4>Output</h4>
    </li>
  </ul>
-->