
<!--<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Atenção!</h4>
  <p class="mb-0">Para facilitar a logística de organização do evento, estaremos fechando as inscrições em <a href="#" class="alert-link">04/03/2018 as 23h59 (Brasília)</a>.</p>
</div>
-->
<section id="propose" class="row"> 

  <div class="col-lg-8 col-md-7 col-xs-12">
    <h2>O que é Agile Coach Camp?</h2>
    <p>
      Você já esteve em uma conferência em que percebeu que os principais insights e aprendizados vieram de conversas que aconteceram nos corredores? Ou vieram de uma conversa que aconteceu durante um almoço, ou até mesmo no Happy Hour?
    </p>
    <p>
      O Agile Coach Camp é um evento em que criaremos as oportunidades para discussões profundas sobre temas avançados em um formato de desconferência, além de conectar você com outros profissionais do mundo da gestão e com pessoas realmente interessadas em melhorar o trabalho nas organizações.
    </p>
    <p>
      O evento é realizado sem fins lucrativos e acontecerá nos dias 23, 24 e 25 de Março/2018 em um hotel fazenda próximo a cidade de São Paulo. Qualquer participante é livre para trazer sua família para usufruir do hotel nos dias do evento, de acordo com nossa política de acomodações. 
    </p>
  </div>
  
  <div class="col-lg-4 col-md-7 col-sm-6">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header"><h3>SAVE THE DATE</h3></div>
      <div class="card-body">
        <h4 class="card-title">23-25 Março de 2018</h4>
        <p class="card-text"><a target="_blank" href="http://refugiocheirodemato.com.br/">Refúgio Cheiro de Mato</a><br>
        <p>Inscrições encerradas</p>
        <!-- Apenas 18 Vagas</p>
        <p class="card-text">
          <form method="get" action="/surveys/new">
            <button type="submit" id="register" class="btn btn-primary">Inscrever!</button>
          </form>
        </p>
        -->
      </div>
    </div>
  </div>
</section>
<hr>
<section id="promisses" class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <h2>Desconferência</h2>
      <p>
        Como base da desconferência vamos utilizar a tecnologia de Open Space durante a maior parte do evento, de forma a maximizar os aprendizados de conversas de corredor com um pouco mais de estrutura e organização.
      </p>
      <p>
        O Open Space é uma forma de auto-organização de reuniões e conferências em torno do que mais importa para as pessoas. As pessoas se juntam em torno de tópicos ou necessidades de alto nível e criam sua própria agenda; e então as pessoas formam grupos para terem ideias, debater ou discutir os tópicos propostos na agenda. De forma geral um evento Open Space é facilitado por um único facilitador e segue os seguintes princípios:
      </p>
      <ul>
        <li>“Aqueles que vierem são as pessoas certas.”</li>
        <li>“Seja o que acontecer é o que poderia ter acontecido.”</li>
        <li>“Quando ele começa é o momento certo.”</li>
        <li>“Acaba quando acaba.”</li>
        <li>“Se você não está aprendendo ou contribuindo, sinta-se a vontade para ir par um lugar onde você possa aprender e contribuir. Isso é conhecido como a leis dos dois pés”.</li>
      </ul>

  </div>
  
  <div class="col-lg-4 col-md-7 col-sm-6">
    <h4>Data e Hora</h4>
    <p>
      sexta-feira, 23/03/2018 14h00 - <br>
      domingo, 25/03/2018 14h00 <br>(Horário de Brasília GMT -03:00)<br>
      <a href="">Adicionar ao caledário</a>
    </p>
    
    <h4>Localização</h4>
    <p>
      <a target="_blank" href="http://refugiocheirodemato.com.br/">
        Refúgio Cheiro de Mato <br>
        Ecoresort & Convention<br>
      </a>

        SP 023 (Estrada Mairiporã / Franco da Rocha) <br>
        Vila Paula – Mairiporã – São Paulo <br>

      <a  target="_blank" href="https://www.google.com.br/maps/place/Estacionamento%2FBalsa+Refugio+Cheiro+de+Mato/@-23.3359435,-46.6551718,17z/data=!4m13!1m7!3m6!1s0x94cee473f8b4d3bd:0x9b78f7a22dfdcb5a!2sSP-023,+S%C3%A3o+Paulo!3b1!8m2!3d-23.3359435!4d-46.6529831!3m4!1s0x0:0xe16dd42894b34a10!8m2!3d-23.3356877!4d-46.6531507?dcr=0"> Ver no mapa</a>
    </p>
    
    <h4>Organização</h4>
    <p>
      contato@agilecoachcamp.com.br<br>
      Raphael Molesim<br>
      Rafael Buzon <br>
      Yoris Linhares</p> 
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>O que você encontrará lá?</h2>
  </div>
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Conexões</h5>  
        </div>
        <p class="mb-1">Valorizamos as conexões. Acreditamos que conexões fortes nós permitem alcançar muito mais que conseguiríamos sem elas. Esteja preparado para criar relacionamentos!
</p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Acaso</h5>
        </div>
        <p class="mb-1">Estamos criando a oportunidade de coisas excelentes acontecerem, com as pessoas certas, no lugar certo e no tempo certo!
        </p>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Diversão</h5>  
        </div>
        <p class="mb-1">Planejamos jogos ao ar livre para fomentar a confiança do grupo de participantes e promover conexões que liberem a criatividade e a inovação durante o evento
</p>
      </a>
    </div>
  </div>  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Aprendizados</h5>  
        </div>
        <p class="mb-1">Criaremos espaços para expor todo o aprendizado que estiver ocorrendo durante o camp e situações que potencializem um profundo aprendizado</p>
      </a>
    </div>
  </div>


  <div class="col-lg-8 col-md-7 col-sm-6">

    <h2 class="after-promisses">Como isso funciona?</h2>
    <p>
      Esse Agile Coach Camp é realizado como <span class="text-info"><strong>um evento sem fins lucrativos, por praticantes e de custo neutro</strong></span>. Você será cobrado por suas despesas de acomodação e material usados pelos participantes. Queremos realizar um evento pequeno, íntimo, onde os participantes possam se conectar e criar associações de longo prazo. Nós já pré-reservamos 30 quartos!
    </p>

    <p>
      Procuramos por pessoas que são ávidas por novas ideias, que estão explorando os limites de sua carreira, que estejam ensinando, realizando mentoria ou facilitando grupos. Traga seus problemas. Traga seus experimentos. Traga suas soluções. Traga suas novas ideias. Traga VOCÊ! 
    </p>
    
  </div>
  <div class="image-ideas col-lg-4 col-md-7 col-sm-6">
    <span class="helper"></span>
    <img src="http://thefutureofink.com/wp-content/uploads/2013/02/icon-ideas-into-action-copy.png" width="100%">
  </div>
</section>
<hr>
<section id="program" class="row">
  <div class="col-lg-12 col-md-7 col-sm-6">
    <h2>Programação</h2><br>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sexta-Feira</h4></th>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Boas vindas & Tour aberto pelo hotel</td>
      </tr>
      <tr>
        <td>15h - 17h</td>
        <td>Sobrevivendo na SELVA!</td>
      </tr>
      <tr>
        <td>17h - 18h</td>
        <td>Acesso aos quartos</td>
      </tr>
      <tr>
        <td>18h - 19h</td>
        <td>Unplugged Talk</td>
      </tr>
      <tr>
        <td>19h - 21h</td>
        <td>Jantar</td>
      </tr>
      <tr>
        <td>21h - 22h</td>
        <td>Ritual de iniciação</td>
      </tr>
    </table>    
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Sábado</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Regras gerais e Market Place</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>12h - 14h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>14h - 15h</td>
        <td>Open Space</td>
      </tr>
      <tr>
        <td>15h - 20h</td>
        <td>Aproveite o Hotel</td>
      </tr>
      <tr>
        <td>20h - 22h</td>
        <td>Jantar</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-4 col-md-7 col-sm-6">
    <table>
      <tr>
        <th colspan="2"><h4>Domingo</h4></th>
      </tr>
      <tr>
        <td>9h - 10h</td>
        <td>Caminhada</td>
      </tr>
      <tr>
        <td>10h - 12h</td>
        <td>Resolução de Problemas com executivos</td>
      </tr>
      <tr>
        <td>12h - 13h</td>
        <td>Almoço</td>
      </tr>
      <tr>
        <td>13h - 14h</td>
        <td>Retrospectiva e feedback</td>
      </tr>
      <tr>
        <td>14h</td>
        <td>Check Out!</td>
      </tr>
    </table>
  </div>
</section>
<hr>
<section id="commitment">
 <div class="col-lg-12 col-md-7 col-sm-6">

   <h2 id="participants">Participantes já confirmados</h2>
   <br>   
   <ul id="participants_list"class="row">
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/876165698359349248/hwdMYZBV_400x400.jpg">
       <a class="participant" href="/papers/matheus_haddad">Matheus Haddad</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://cdn-images-1.medium.com/fit/c/200/200/0*t3VYDFNJNPmdPSO8.png">
       <a class="participant" href="/papers/raphael_albino">Raphael Albino</a>
     </li>

     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAs2AAAAJGZjODJlYTVhLWI4YzctNDc4ZS1iZGMwLTdkNmEyMWQzM2IxZA.jpg">
       <a class="participant" href="/papers/mariana_graf">Mariana Graf</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <%= image_tag "Lula.JPG"%>
       <a class="participant" href="/papers/luiz_lula">Luiz Lula</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/728295805841510400/h-qHDvoH.jpg">
       <a class="participant" href="/papers/rodrigo_yoshima">Rodrigo Yoshima</a>
     </li>
     
     <!--<li class="col-lg-3 col-md-7 col-sm-6">
       <%= image_tag "jonas.jpg"%>
       <a class="participant" href="/papers/jonas_rompkovski">Jonas Rompkovski</a>
     </li>-->
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://cdn-images-1.medium.com/fit/c/200/200/1*CAYVmCB6Jkkkd94bdvj-wA.jpeg">
       <a class="participant" href="/papers/renato_willi">Renato Willi</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/dms/image/C4E03AQEMmxyqW_4ItA/profile-displayphoto-shrink_800_800/0?e=1525406400&v=alpha&t=UGp7QsLxA7YtuLuQM0wQpu69P7X__IGxNfs1_RVtYOs">
       <a class="participant" href="/papers/joao_marcos_filho">João Marcos Filho</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="http://sigp.org.br/site2015/wp-content/uploads/2017/10/ARI-DO-AMARAL.jpg">
       <a class="participant" href="/papers/ari_amaral">Ari do Amaral</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAArQAAAAJDRhNTk2NWRiLTM5MTUtNDlkMS05ZTkxLTU4ZWJlNGJlYmZlNg.jpg">
       <a class="participant" href="/papers/thiago_soares">Thiago Soares</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://www.lean.org.br/img/eventos/lean-it-summit/Palestrantes/henrique.jpg">
       <a class="participant" href="/papers/henrique_imbertti">Henrique Imbertti</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAA0KAAAAJDhlNmNlZmQzLTI5ODEtNGI5OS1iNTYzLTg1NGQzNjcwNzBkOA.jpg">
       <a class="participant" href="/papers/ewerton_santos">Ewerton Santos</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/dms/image/C4D03AQHyj2kVuFRreA/profile-displayphoto-shrink_800_800/0?e=1525406400&v=alpha&t=Ojgo1XyZ8DLoQgN6L1GsctyZXKUIf-73Yb85aeR0k34">
       <a class="participant" href="/papers/cecilia_fernandes">Ceci Fernandes</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <%= image_tag "Samuel-Cavalcante.jpg"%>
       <a class="participant" href="/papers/samuel_cavalcante">Samuel Cavalcante</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <%= image_tag "erasto.jpg"%>
       <a class="participant" href="/papers/erasto_ortiz">Erasto Ortiz</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://pbs.twimg.com/profile_images/641703974979112960/W6XXL4wx.jpg">
       <a class="participant" href="/papers/raphael_molesim">Raphael Molesim</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAtxAAAAJDUyNTA0NmNmLWMyNDktNDRjNS05YzU5LTg4MGY2ZmU3YmM2OQ.jpg">
       <a class="participant" href="/papers/rafael_buzon">Rafael Buzon</a>
     </li>
     
     <li class="col-lg-3 col-md-7 col-sm-6">
       <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPoAAAAJDg3NTM2NGZmLTc4YWYtNGE3ZS1iMmE2LWM1MzRlYTYzZWRhNg.jpg">
       <a class="participant" href="/papers/yoris_linhares">Yoris Linhares</a>
     </li>
   </ul>
   
   <h2 id="pricing">Quanto custa?</h2>
   <p>
     Temos três opções de quartos de acordo com a seu bolso, privacidade e companhia.
   </p>
   <ul class="pricing_list">
     <li>Dividindo Quarto - <strong>R$ 1.080,00 por participante</strong> - Dividir o quarto com outro participante do evento</li>
     <li>Quarto Individual - <strong>R$ 1.410,00</strong> - Um quarto só para você.</li>
     <li>Quarto Familia - <strong>R$ 1.800,00</strong>  - Leve sua família, 2 adultos e 1 criança até 10 anos</li>
   </ul>
   <p>
     <strong>Todas as opções com refeições incluídas (Café da manhã, almoço e jantar), hospedagem e todo custo das atividades do evento estão cobertas</strong>. Cobrança extra para bebidas e estacionamento.
   </p>
    <p>Opções de <strong>parcelamento</strong> serão oferecidas de acordo com as tarifas padrão do Pagseguro.
    </p>
   <p>Para outras opções entrar em contato com a organização do evento através do e-mail: contato@agilecoachcamp.com.br
   </p>
   
   <h2>Como se inscrever?</h2>
   <!--<p>
     <form method="get" action="/surveys/new">
       <button type="submit" id="register" class="btn btn-primary">Inscrever!</button>
     </form>
     </p>
    -->
     <div class="alert alert-dismissible alert-success">
       <strong>Inscrições encerradas!</strong></a>
     </div>
 </div>
</section>
<section id="submission">
</section>
