<h1>Opção de quarto</h1>
<br>
<fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
           Dividindo Quarto - R$ 1.080,00
        </label>
        <p>Nesta opção você irá dividir o quarto com outro participante do evento, aqui temos todas as refeições incluídas e todo custo das atividas do evento estão cobertas. Cobrança extra para bebidas e estacionamento.  No futuro os participantes vão se auto organizar para se distribuirem entre os quartos distribuídos.</p>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          Quarto Individual - R$ 1.410,00
        </label>
        <p>Nesta opção você irá ter um quarto só para você, aqui temos todas as refeições incluídas e todo custo das atividas do evento estão cobertas. Cobrança extra para bebidas e estacionamento.</p>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
          Quarto Familia - R$ 1.800,00
        </label>
        <p>Nesta opção você poderá levar sua família, o quarto comporta 2 adultos e uma criança até 10 anos, aqui temos todas as refeições incluídas e todo custo das atividades do evento estão cobertas. Cobrança extra para bebidas e estacionamento.  No futuro os participantes vão se auto organizar para se distribuirem entre os quartos distribuídos.</p>
      </div>
    </fieldset>

<ul class="options">
  <li>
   
  </li>
  <li>
    
  </li>
  <li>
    
  </li>
</ul>

<h1>Meio de pagamento</h1>

<ul class="payment-methods">
  <li>
    <img class="payment-card" src="http://cartaoecredito.net/wp-content/uploads/2012/03/visamastercardop663x800fv6.jpg">
    <br>Pagar com cartão
  </li>
  
  <li>
      <img class="payment" src="http://glosite.com/blog/wp-content/uploads/2012/03/add-paypal-button-to-your-wedding-website.png"><br>
      Pagar com paypal
  </li>
  
</ul>