<section id="propose" class="row"> 

  <div class="col-lg-12 col-md-12 col-xs-12">
    <h2>Transparência e Prestação de contas</h2>
    <p>
      Com o objetivo de realizar um evento de custo neutro, segue toda a prestação de contas do evento. Infelizmente este ano tivemos um custo maior que a receita totalizando R$ 4.903,06 no negativo, todos os custo adicionais foram pagos pela Agile Alliance Brazil.
    </p>
    
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
  </div>

  <div class="col-lg-8 col-md-8 col-sm-8">
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#general">Geral</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#hotel">Hotel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#equipamento">Equipamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#inscricoes">Inscrições</a>
    </li>
  </ul>
  
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="general">
      <table class="table">
        <tr>
          <th>Descrição</th>
          <th>Valor Total</th>
        </tr>
        
        <tr class="table-secondary">
          <td>Pagamento das Inscrições</td>
          <td class="green"> R$ 24.540,00 </td>
        </tr>
      
        <tr>
          <td>Pagamento Organização(1)</td>
          <td class="green">R$ 1.380,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Pagamento Convidado(2)</td>
          <td class="green">R$ 120,00</td>
        </tr>
      
        <tr>
          <td>Hotel</td>
          <td class="red">-(R$ 23.167,50)</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Equipamento de Audio e Vídeo</td>
          <td class="red">-(R$ 2.497,00)</td>
        </tr>
      
        <tr>
          <td><%= link_to "Atividades Contratadas", "/proposta-selva-2018.pdf" %></td>
          <td class="red">-(R$ 3.960,00)</td>
        </tr>
      
        <tr class="table-secondary">
          <td><%= link_to "Materiais", "/nota-materiais.jpg" %></td>
          <td class="red">-(R$ 248,20)</td>
        </tr>
      
        <tr>
          <td>Cobrança Pagseguro</td>
          <td class="red">-(R$ 1.070,36)</td>
        </tr>
        
        <tr class="table-secondary">
          <td>Tarifa Bancária</td>
          <td class="red">-(R$ 39,40)</td>
        </tr>
      
        <tr class="table-info">
          <td style="text-align: right;font-weight:bold">Resultado Final</td>
          <td class="red">-(R$ 4.942,46)</td>
        </tr>
      
      </table>
    </div>
    <div class="tab-pane fade" id="hotel">
      <table class="table">
        <tr>
          <th>Gasto</th>
          <th>Valor Unitário</th>
          <th>Qtd</th>
          <th>Valor Total</th>
        </tr>
      
        <tr>
          <td>Quartos Duplos Compartilhados</td>
          <td>R$ 1.380,00</td>
          <td>3</td>
          <td>R$ 4.140,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Quarto Individuais</td>
          <td>R$ 1.140,00</td>
          <td>5</td>
          <td>R$ 5.700,00</td>
        </tr>
      
        <tr>
          <td>Quartos Duplos Família</td>
          <td>R$ 1.380,00</td>
          <td>6</td>
          <td>R$ 8.280,00 </td>
        </tr>
      
        <tr class="table-secondary">
          <td>Quarto Duplex</td>
          <td>R$ 1.656,00</td>
          <td>1</td>
          <td>R$ 1.656,00</td>
        </tr>
        
        <tr>
          <td>Quarto Organização Família</td>
          <td>Cortesia</td>
          <td>1</td>
          <td>R$ 0,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Quarto Convidados</td>
          <td>R$ 690,00</td>
          <td>1</td>
          <td>R$ 690,00</td>
        </tr>
      
        <tr>
          <td>Salão Tulipa</td>
          <td>R$ 2.000,00</td>
          <td>1</td>
          <td>R$ 2.000,00</td>
        </tr>
        
        <tr class="table-secondary">
          <td>Drinks de boas vindas</td>
          <td>Cortesia</td>
          <td>1</td>
          <td>R$ 0,00</td>
        </tr>
      
        <tr>
          <td>Copos de água</td>
          <td>R$ 3,50</td>
          <td>149</td>
          <td>R$ 521,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Almoço Convidados</td>
          <td>R$ 90,00</td>
          <td>2</td>
          <td>R$ 180,00</td>
        </tr>
      
        <tr class="table-info">
          <td colspan="3" style="text-align: right;font-weight:bold">Total de Gastos com Hotel</td>
          <td>R$ 23,167.50</td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="equipamento">
      <table class="table">
        <tr>
          <th>Gasto</th>
          <th>Valor Unitário</th>
          <th>Qtd</th>
          <th>Valor Total</th>
        </tr>
      
        <tr>
          <td>Projetor</td>
          <td>R$ 700,00</td>
          <td>1</td>
          <td>R$ 700,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Som</td>
          <td>R$ 850,00</td>
          <td>1</td>
          <td>R$ 850,00</td>
        </tr>
      
        <tr>
          <td>Tecnico audiovisual</td>
          <td>R$ 300,00</td>
          <td>1</td>
          <td>R$ 300,00 </td>
        </tr>
      
        <tr class="table-secondary">
          <td>Flipchart</td>
          <td>R$ 140,00</td>
          <td>3</td>
          <td>R$ 420,00</td>
        </tr>
        
        <tr>
          <td>Quarto Organização Família</td>
          <td>Cortesia</td>
          <td>1</td>
          <td>R$ 0,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Taxa de Serviço</td>
          <td>R$ 10%</td>
          <td>1</td>
          <td>R$ 227,00</td>
        </tr>
      
        <tr>
          <td>Salão Tulipa</td>
          <td>R$ 2.000,00</td>
          <td>1</td>
          <td>R$ 2.000,00</td>
        </tr>
        
        <tr class="table-info">
          <td colspan="3" style="text-align: right;font-weight:bold">Total de Gastos com Equipamento</td>
          <td>R$ R$ 2.497,00</td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="inscricoes">
      <table class="table">
        <tr>
          <th>Tipo de Inscrição</th>
          <th>Valor Unitário</th>
          <th>Qtd</th>
          <th>Valor Total</th>
        </tr>
      
        <tr>
          <td>Dividindo Quarto</td>
          <td>R$ 1.080,00</td>
          <td>6</td>
          <td>R$ 6.400,00</td>
        </tr>
      
        <tr class="table-secondary">
          <td>Quarto Individual</td>
          <td>R$ 1.410,00</td>
          <td>5</td>
          <td>R$ 7.050,00</td>
        </tr>
      
        <tr>
          <td>Quarto Família</td>
          <td>R$ 1.800,00</td>
          <td>5</td>
          <td>R$ 9.000,00 </td>
        </tr>
      
        <tr class="table-secondary">
          <td>Quarto Família (Duplex)</td>
          <td>R$ 2.010,00</td>
          <td>1</td>
          <td>R$ 2.010,00</td>
        </tr>
        
        <tr class="table-info">
          <td colspan="3" style="text-align: right;font-weight:bold">Total de Gastos com Equipamento</td>
          <td>R$ 24.540,00</td>
        </tr>
      </table>
    </div>
    
    (1) - Pagamento adicional realizado quando alguém da organização opta por não utilizar o quarto compartilhado da organização.<Br>
    (2) - Pagamento complementar realizado quando um convidado opta por um quarto acima do nível oferecido pela organização.
  </div>

  </div>
  
  <div class="col-lg-2 col-md-2 col-sm-2">
  </div>
  

  <div class="col-lg-6 col-md-6 col-sm-6">
    
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-6">
    
    </div>
  </div>
</section>