<br><br><br>
<div class="row">
  <div class="col-lg-3 col-sm-4 offset"></div>
  <div class="col-lg-6 col-sm-4" id="new-position-paper">
    <h1>Novo Position Paper</h1>

    <%= render '2019/position_papers/form', position_paper: @position_paper %>
  </div>
</div>