<br><br><br>
<div class="row">
<div class="col-lg-3 col-sm-4 offset"></div>
  <div class="col-lg-6 col-sm-4">
    
    <h1>Editing Position Paper</h1>
    
    <%= render 'position_papers/form', position_paper: @position_paper %>
  </div>
</div>

</div>