<br><br><br><br><br>
<div class="row">
  <div id="accountability" class="col-lg-8 col-sm-12 table-sm">

    <h1>Transparência e Prestação de contas</h1>

    <p>Com o objetivo de realizar um evento de custo neutro, segue toda a prestação de contas do evento. Este ano tivemos um custo menor que a receita totalizando <b>R$ 1.847,94 no positivo</b>, este valor será mantido com a Agile Alliance Brazil para financiamento do próximo Agile Coach Camp.</p>
    
    <table class="table">
  
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Valor Total</th>
      </tr>
  
  
      <tr>
        <td>Inscrições</td>
        <td class="earn">R$ 50.127,59</td>
      </tr>
      
      <tr>
        <td>Inscrições Organização</td>
        <td class="earn">R$ 2.010,00</td>
      </tr>
      
      <tr>
        <td>Cancelamento</td>
        <td class="earn">R$ 150,00</td>
      </tr>
      
      <tr>
        <td class="total">Total de ganhos</td>
        <td class="total earn">R$ 52.287,59</td>
      </tr>
      
  
      <tr>
        <td>Hotel</td>
        <td class="cost">R$ 39.809,50</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1htB-xDWrQ2U9Mw4lcK7Ep-FoZqhi56bH/view?usp=sharing" target="blank">Equipamento de Audio</a></td>
        <td class="cost">R$ 1.760,00</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/12pC_u2QbPoV8vMTKsg0ueZ3pG0qgL0tK/view?usp=sharing" target="blank">Atividades contratadas</a></td>
        <td class="cost">R$ 4.950,00</td>
      </tr>
  
      <tr>
        <td><a href="https://drive.google.com/file/d/1yw6ePzVibDfKJXxmTrbCJDlq0PYPC85D/view?usp=sharing" target="blank">Logomarca</a></td>
        <td class="cost">R$ 890,00</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1rf4EpwScsJsfWa-ILeaGm54eWjXr3Jx0/view?usp=sharing">Camisetas</td>
        <td class="cost">R$ 1.434,00</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/11vhFMx-qeeQmnZkCs5ev5UgOAszDxpwX/view?usp=sharing" target="blank">Digital Marketing</td>
        <td class="cost">R$ 260,00</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1lxyc82I0QblYl5QkOp1IkvOZ3T5kz8tI/view?usp=sharing" target="blank">Serviço de E-mail</td>
        <td class="cost">R$ 203,46</td>
      </tr>
      
      <tr>
        <td><a href="https://drive.google.com/file/d/1BIRs3Qd22c71g7FXSvbwShn4QWq3v_4c/view?usp=sharing" target="blank">Gráfica</a></td>
        <td class="cost">R$ 730,00</td>
      </tr>
      
      <tr>
        <td>Tarifa de Boletos (Granatum)</td>
        <td class="cost">R$ 142,10</td>
      </tr>
      
      <tr>
        <td>Tarifa de Cartão de Crédito (Pagseguro)</td>
        <td class="cost">R$ 203,50</td>
      </tr>
      
      <tr>
        <td>Despesas de DOC/TED</td>
        <td class="cost">R$ 41,95</td>
      </tr>
      
      <tr>
        <td class="total">Total de custos</td>
        <td class="total cost">R$ 50.424,61</td>
      </tr>
      
      <tr>
        <td class="result">Resultado final</td>
        <td class="result earn">R$ 1.862,98</td>
      </tr>
      
    </table>
  </div>
</div>