<div class="content">
  <div class="center">
     <h1>Agile Coach Camp</h1>
     <h2>Em breve teremos notícias!</h2>

     <p>Próximo evento será realizado entre 29-31 de Março de 2019. Fique atento, inscreva se na nossa mailing list* para receber notícias!</p>
    <p>
      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="https://agilecoachcamp.us19.list-manage.com/subscribe/post?u=e36bd0acbd8212332e947a387&amp;id=6054a3e43f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
          	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mail" required>
            <input type="submit" value="Notifique me" name="subscribe" id="mc-embedded-subscribe" class="button btn-secondary">
        
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_e36bd0acbd8212332e947a387_6054a3e43f" tabindex="-1" value="">
            </div>    
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </p>
    
    <p class="note">
      (*) este evento não negocia, vende ou distribui de nenhuma forma mailing list.
    </p>
  </div>
  
  <div class="footer">
    Para acessar informações de eventos passados <a href="/2018">clique aqui</a>.
  </div>
</div>
