
<section id="photos" class="row"> 
  <h2>Materiais</h2>
  <p>Um dos objetivos do Agile Coach Camp era gerar algum material de <i>output</i> de volta para a comunidade. Então todos os open spaces possuíam facilitadores foram responsáveis por registrar as conversas em <i>flipchart</i>. Abaixo você encontra o material gerado durante estes open spaces, e as fotos tiradas durante o evento como um todo.</p>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12" id="general_photos">
      <div class="list-group">
        <a href="https://photos.app.goo.gl/CFsdve6j1E3aWvYp9" class="list-group-item flex-column align-items-start">
          <div class="mb-1">
            <img src="https://lh3.googleusercontent.com/RrwQcUcU8gy_da4c9jyHhCqCAZL6YbiwcAmEbsDlRHq6dONaRWbjNE0vDL9PA0ExkF022GtSEklI8dCIoIEHy9VR7PfkhbO1u6MLfy4idWLuCHNBvuu2NpNgfDBr_RjXmMbrQ9JbVJo=w1280-h853-no" class="col-lg-10 col-md-10 col-sm-10" />

            <h2>Fotos do evento</h2>
          </div>
        </a>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="list-group">
        <a href="https://photos.app.goo.gl/FWCSUNLJR4JQq7nw6" class="list-group-item flex-column align-items-start">
          <div class="mb-1">
            <img src="https://lh3.googleusercontent.com/RuF-NFd5KEs6gr3GRHPx4eiVcHJpHFghMBT1Je8GVBmTeJNUxWseZkU05nA87734755oFjiFTXOSN3xYd7S5xI14MWcWa5FeeJ1JwQeXJc4QT57wLF0SM_J70fq9KGnQCmwJLXVy3j2yGTvYlfnxqqxnyES2NnEfLvfgaL8Kpf1iL6M_RGv0-rZjCi4N9XcYe-8JhkKzhz_bW1BmeTAvAz8WUIVsaybBxCda26J1yiCC3l5xRR_9KUfRQhMmmWcxdNL4t9haVbPNaXz16ZHeJ25Bd1FlPdpMRDDS3ST3OTKGtwtlw9bzdnBdsqWqWYM7V6cd7UsfO2QlE5t_nG-vkaoRvXZwijvIpCSicoxwCZWvo5h_D-WnSZcQx3zBQklwW0yeGxOkwLy5l-iDtAce_zRdkFcKQr4x0FbDPWl0MeJsyLoxSIFDNOgQgFyGjDuOpCw-wx_XOPS3-oktsQNsutYois3fn8qSgdEKpbV_zlS7b8Q8aDVKnf1wETrsVV4RvvXdinw-WA6dj_U_aXDhPEOJkvONEZyJQF4yDCP1ETYWSCDrwGUSboP2UihC6MJa3wYV68oHqi4eEYf7gGUTZijC32KOlotEPlFlPHWcwpKsHz9Q6E9skjVtRy9BgnDsYBm6zSyBw0Tc1EhKAmxMLLqiBNTJzY0MZQ=w994-h1324-no" class="col-lg-10 col-md-10 col-sm-10" />

            <h2>Open spaces</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>