<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "diogo_kamioka.jpg" %>
    
    <h1>Diogo Key Kamioka</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <ul>
      <li>Formado em Ciência da Computação, trabalho com tecnologia desde 2006</li>
      <li>Trabalhei em grandes empresas com grandes clientes no modelo waterfall por 4 anos na Accenture, passando por Santander, TIM e Telefónica</li>
      <li>Trabalho com agilidade desde 2010 - onde a minha primeira experiência foi bem hands-on, construindo uma Área de TI de uma pequena empresa</li>
      <li>Tive minha primeira experiência como 'consultor' quando montei minha empresa de consultoria ágil (leia-se: fui PJ heh) e comecei a fazer projetos em Startups, ajudando não só a ter uma maneira de trabalhar com desenvolvimento mas também com Lean Startup</li>
      <li>Fui o primeiro consultor contratado pela McKinsey para construir o Digital Labs na América Latina</li>
      <li>Hoje atuo como um Digital Specialist sendo um dos líderes da prática de Agilidade em Latam</li>
      <li>Nos últimos 2 anos e meio tive a oportunidade de capacitar mais de 100 pessoas de vários clientes em mindset e cultura ágil e também a entregar software em tempo recorde em organizações reconhecidamente muito grandes para ter agilidade de uma startup</li>
    </ul>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <p>
      Quero aprender como fazer melhor meu trabalho, e isso inclui técnicas de coaching, diferentes maneiras de se encarar desafios cotidianos até como tangibilizar o que é Agilidade para diferentes públicos e organizações. Proponho alguns temas:
    </p>
    <ul>
      <li>Como estruturar uma área de RH em uma organização Ágil (compensation, carreira, capacitação, org, etc)</li>
      <li>Qual o escopo e o não escopo de um Agile coach?</li>
      <li>Qual o próximo passo na carreira de um Agile coach?</li>
    </ul>
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Trago uma experiência multi-disciplinar.
  </p>
  <p>
    Já fui desenvolvedor back e frontend, analista de testes, trabalhei como peão em fábrica de carros, dono de 5 restaurantes, desenvolvedor iOS, full-time nerd... etc.
  </p>
  <p>
    Então mais do que táticas e ferramentas, que isso posso indicar alguns links e referências, poderia compartilhar minhas aventuras e falhas.
  </p>
  <p>
    Portanto não aprenda comigo como ter sucesso (pois nem sei se eu o tenho) mas talvez como não fazer alguma coisa, ou como faria diferente.
  </p>
  <p>
    Além disso sou bem sincero, analítico e alguns acham até arrogante. Trago isso também. Usar ou não é opção sua.
  </p>
  <p>
    Mas eu acho que sou simpático! :)
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    O maior desafio vai ser continuar trazendo valor para a indústria. O que vai acontecer quando todo mundo já pensar como um agilista?
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>