<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "eraldo.jpg" %>
    
    <h1>Eraldo Batista dos Santos</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Estou há quase 15 anos na área de T.I. e nas organizações onde atuei, tive a oportunidade de passar pelas suas várias áreas, compreendendo os interesses e ligações que permeiam o negócio. Desde o princípio sempre busquei formas e conceitos de trabalho que valorizassem mais as pessoas e entregassem mais valor para os envolvidos e os cenários em que estavam.
      </p>
      <p>
      Em 2013, juntamente com outros team leaders, tive o meu primeiro contato com Scrum e Kanban, numa tentativa frustrada de usar métodos ágeis. E foi frustrada justamente porque foi focada apenas em ferramentas, em processos, como uma opção de microgerenciamento e esquecendo as pessoas e a cultura da empresa. Dessa experiência pude aprender muita coisa mas principalmente que não dá para falar de agilidade sem atacar o mindest das pessoas e a cultura da empresa, que antes de ferramentas e processos, é preciso praticar os valores e princípios, que é preciso entender as causas-raízes antes de buscar soluções e que as transformações acontecem somente quando as pessoas mudam. Mas não desisti, fui atrás de informações e experiências que pudessem comprovar que agilidade é muito mais que isso.
      </p>
      <p>
      A partir de 2016, passei a atuar numa empresa que nasceu com métodos ágeis e possui uma gestão centrada nas pessoas e seus valores. Em pouco tempo, passei atuar como Scrum Master e/ou Facilitador de Equipes e Projetos com o desafio diário de provocar as pessoas a irem além dos métodos, ferramentas, processos e frameworks, buscando uma vivência ágil de verdade e ainda tentando hackear o mindset das empresas tradicionais que atendemos.
      </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <p>
    Busco uma experiência mais profunda nos princípios e valores ágeis, busco amadurecer minhas percepções das organizações e da transformação ágil.
  </p>
  <p>  
    Pretendo explorar mais como a agilidade pode ir além das empresas de T.I. , mudar cenários e principalmente pessoas. Uma agilidade que vai além do comércio dos papéis e frameworks.
  </p>
  <p>
    Para listar, tenho enfrentado alguns desafios e tenho me questionado sobre alguns pontos que podem ser resumidos em: 
  </p>
    <ul>
      <li>
        Estou numa empresa que se encontra numa fase de crescimento muito boa! Mas como crescer de forma sustentável? Sem perder a cultura e a qualidade, mantendo os times ainda entrosados entre eles?
      </li>
      <li>
        Gostaria de aprender com que já vivenciou esta fase quais foram os aprendizados e sucessos, como este desafio contínuo foi batalhado e os cuidados que devem ser tomados.emandas e não sair criando produto por cumprir um contrato e sim agregar valor aos nossos clientes.
      </li>
      <li>
        Tenho visto uma crescente onda de busca pela transformação ágil nas empresas e entendo que isso não é consultoria ou assessoria mas algo muito maior! Fico imaginando se é possível se definir um fim para este trabalho e mais do que isso, qual o limite desta transformação, ou seja, até onde se pode ir sem desestruturar ou "piorar" uma empresa, dado que a transformação ágil pode ser um "remédio amargo". Será que não existem outras abordagens tão eficazes quanto a transformação ágil? As empresas precisam mesmo de uma transformação ágil ou de outras soluções para resolver seus problemas? Porque às vezes penso que estão apenas tentando seguir uma tendência para falar que estão na crista da onda. 
      </li>
      <li>
        O papel do Agile Coach começa e termina onde? Vejo times que possuem uma resistência muito grande para este papel mesmo todos vendo esta necessidade. Isso já é uma barreira a ser vencida pelo agile coach ou é um trabalho anterior? Quais os limites de agile coach para que ele não seja confundido com um gerente? O que virá depois do Agile Coach? Já tenho visto ainda novo no Brasil mas alguns comentários de um Mentoring Agile Coach!
      </li>
      <li>
        É possível conciliar OKRs e Scrum? Tenho visto poucas abordagens assim e de verdade não tenho muito experiência nesta união. Como se daria esta experiência e quais os aprendizados podemos tirar disso?
      </li>
      <li>
        Um último desafio é melhorar minha atuação como Facilitador, buscando técnicas e dinâmicas para valorizar mais o time, engajar mais as pessoas num projeto e ajudá-los a praticar mais os valores ágeis.
      </li>
    </ul>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Pretendo ir de mente e coração aberto para absorver as vivências dos demais participantes.
    Mas também posso me envolver nas várias atividades compartilhando minhas experiências de formação de equipes e consultoria nas empresas e para C-Level.
  </p>
  <p>
    Após abandonar uma posição de gestor de área para um empresa de gestão descentralizada e baseada em papéis e liderança situacional, posso contribuir com a visão dos motivadores que levaram a tão decisão e como é a experiência com este novo modelo.
  </p>
  <p>
    Tenho facilidade para propor dinâmicas, atividades lúdicas e práticas que mesclam design thinking, coaching e team building.
  </p>
  <p>
    Tenho recentes experiências de construção de ferramentas e canvas que ajudam no alinhamento de skills de um time como a adaptação da roda ágil (Agile Coach Ana Soares) e da roda da vida (Coaching) e creio que podemos co-criar (Design Thinking) uma roda ágil de Agile Coaching ou ainda do Sprint Canvas que criei para alinhamento de times.
  </p>
  <p>
    Através da minha experiência como consultor e na área comercial, construindo e validando contratos de desenvolvimento ágil, posso contribuir com a visão que o C-Level traz deste modelo, quais as suas expectativas e preocupações.
  </p>
  <p>
    Como já passei por experiências unplugged na natureza, consigo colaborar em atividades que ajudem as pessoas a descarregarem das suas rotinas, despir de seus papéis e estarem mais abertas ao novo, simplesmente usando o ambiente da natureza, se assim o local permitir. Alḿe disso posso me envolver em atividades da organização do evento dado minhas experiências como organizador. 
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>Tenho acompanhado pessoas e empresas transformando a agilidade num produto e vendendo no atacado. Transformando frameworks e papéis como Scrum Masters e Agile Coachs em comodities ou acreditando que eles são os "salvadores da pátria".</p>
  <p>Paralelo a isso temos uma outra parcela que estagnou no meio do caminho acreditando que o básico já é o suficiente, que usa métodos ágeis como um uniforme de trabalho apenas e vive na mediocridade dos post-its.</p>
  <p>O desafio da comunidade é superar este cenário e ir além!</p>
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>