<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <img src="https://media.licdn.com/dms/image/C4D03AQGdlIe7k0HFQA/profile-displayphoto-shrink_800_800/0?e=1526616000&v=alpha&t=vt51PVIG7ManL8txXpi9qguKyT4c79fKmmNVQqIWwkk">
    
    <h1>Guilherme Ramos Braghetto</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Possuo 10 anos de experiência em gestão de serviços, otimização de processos e governança de TI, liderando projetos em empresas de diversos segmentos em busca de resultados rápidos.
    </p>
    <p>
      Vim de uma formação de ITSM e conheci o Lean em 2012. O ágil - junto com o "Scrum" - veio junto como um membro base deste guarda-chuva e desde então tenho um pensamento transformado sobre fluxo puxado, melhoria contínua e eliminação de desperdícios com foco no valor para o cliente.
    </p>
    <p>
      Durante minha carreira ajudei grandes organizações a ganharem velocidade e agilidade focando em metas desdobradas e em resultados incrementais, trazendo uma abordagem de comunicação diária e planos de ações para um novo padrão de trabalho me apoiando e respaldando com as ferramentas da qualidade, bibliotecas de melhores práticas e métodos de análise de solução de problemas.
    </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <ul>
      <li>Gostaria de explorar o verdadeiro significado de "valor" e "propósito" que as organizações buscam atualmente.</li>
      <li>Debater sobre: "O desdobramento de metas e objetivos mais que a implantação de modelos, frameworks ou métodos."</li>
    </ul>
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Tenho anos de vivência com utilização de Lean IT na gestão de ciclo de vida de processos e serviços, com resultados comprovados através da prática do pensamento enxuto, foco na meta e eliminação de desperdícios. 
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
  O maior desafio para a comunidade ágil nos próximos 5 anos é de mudar o próprio mindset. Acredito que teremos que desapegar de qualquer ensinamento e nos colocar sempre no lugar do cliente, gerando empatia para realizar o verdadeiro "job to be done" que eles esperam.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>