<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <img src="https://www.lean.org.br/img/eventos/lean-it-summit/Palestrantes/henrique.jpg">
    
    <h1>Henrique Imbertti Junior</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Desde 2008 venho atuando como Agile Coach / Agente de Mudanças. No Yahoo! ajudei a sair apenas do Scrum e ir em direção ao Método Kanban e Lean Startup. Ajudei a criar uma plataforma de ecomm do zero em uma startup. No Spotify convivi durante 3 anos com agile coaches de diversas partes do mundo. 
    </p>
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <p>
      Gostaria de explorar experimentos em trazer agilidade para a empresa como um todo e métricas que possam ajudar nesta jornada.
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Experiência com professional coaching, Método Kanban, Lean Startup, facilitação, Lean...
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
  Creio que o Agile já deixou de ser coisa para os early adopters, agora estamos convivendo com os laggards (ex: vários bancos falando de transformação ágil). Enfim, estamos convivendo com um novo tipo de pessoa na comunidade. Daqui a 5 anos creio que teremos pessoas mais diferentes ainda ou, quem sabe, a comunidade ágil terá enfraquecido e tomado um novo rumo... Uma coisa que não muda é foco no cliente e melhoria continua :) 
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>