<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <%= image_tag "jonas.jpg"%>
    <h1>Jonas Beto Rompkovski</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Trabalho com Agile há 10 anos. E como Agile Coach desde 2013.
    </p>
    <p>
      Recentemente fui responsável pelo projeto de Transformação Ágil em uma empresa de mobilidade urbana, atuando em áreas de desenvolvimento de software, criação de produtos, engenharia de hardware e atendimento e satisfação do cliente. Na área de desenvolvimento atuei no Team Building e na adoção do Framework Scrum com times multidisciplinares, treinamento do time de POs na organização e priorização do backlog, focando em metas e redução de multitasking, e na criação de um framework escalável que contemplou todo o ciclo de desenvolvimento de produtos. Na área de atendimento ao cliente, foquei na redução do tempo de atendimento e de fila de problemas de software, alcançando resultados bem significativos: redução de 45% na quantidade de problemas, aumento de 35% da eficiência operacional da área de suporte e aumento de 45% da taxa de fechamento de problemas.
    </p>
    <p>
      Fora da área de TI, atuei no estudo, auditoria e análise de sugestões de mudança para redução do leadtime do ciclo de vendas de um grande player do mercado nacional.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <ul>
    <li>Neste camp tenho o intuito de explorar mais sobre como aplicar técnicas de aumento de eficiência e eficácia em várias indústrias sem focar apenas em TI. Acredito que técnicas e práticas ágeis (apesar de achar o termo "ágil" obsoleto) e Lean devem ser exploradas fora da TI.</li>
    <li></li>
    <li></li>
  </ul>  
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Gostaria de compartilhar a experiência que estou tendo com Lean Selling, aplicação de Assessments para iniciar projetos de consultoria ágil e uma nova maneira de usar Design Sprints para melhoria de processos.
  </p>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Acredito que o principal desafio da comunidade ágil nos próximos anos seja o respeito. Sem dúvidas, somos o melhor caminho para as empresas alavancarem seus resultados. Alguns acreditam em frameworks mais prescritivos, outros em métodos científicos. Mas estamos correndo o risco de criarmos uma guerra interna entre Ágil e Kanban, totalmente desnecessária, da mesma forma que ocorreu anos atrás com PMBok e Ágil.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>