<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <%= image_tag "josejr.jpg"%>
    <h1>Jose JR</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Me aprofundei no assunto a 4 anos onde conheci Alexandre Magno e fiz seus cursos para poder atuar melhor como ScrumMaster e Produtc Owner e certificar-me pela Scrum Alliance.
    </p>
    <p>
      Aperfeiçoei meus conhecimento sobre Facilitação e aprendizado emergente me tornando um Facilitador de Leaning 3.0
    </p>
    <p>
      Inseri Scrum e mindset ágil na área de desenvolvimento de software onde antes era totalmente cascata. Resultados após 2 anos do início de mudança foi que o desempenho da equipe dobrou, mas a mudança mais reconhecida, foi a qualidade dos itens entregues!
    </p>
    <p>
      Realizei treinamentos, palestras e workshops de scrum, aprendizado emergente, métodos ágeis e colaboração em Eventos de TI como ECOTIC, Agile Tour, SENAI, UTFPR (Universidade Tecnológica do Paraná, UEL(Universidade de Londrina), SEBRAE.
    </p>
    <p>
      Hoje atuo como Agile Coach e Gerente de Inovação na Automatiza.net e realizo consultoria para empresas.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <p>
    Acredito que este Camp é um momento de aprendizado profundo podendo analisar várias situações onde a agilidade está sendo empregada e como pois Grandes Corporações, pequenas, médias, tem diferentes visões do que é agilidade e o que realmente ela pode fazer pela empresa. Espero aprender profundamente com pessoas mais experientes que estarão neste camp.
  </p>
  <p>
    Minha contribuição será levar a visão de como pequenas e médias empresas que estão fora das grandes capitais, veem realmente o que são os métodos ágeis, a visão sobre o que é um Agile Coach, um ScrumMaster e um time ágil e questões como;
    Dores reais:
  </p>
  <ul>
    <li>
      Como explicar e disseminar conceitos ágeis e os novos modelos de gestão que não são tradicionais, principalmente para empresas tradicionais, setores que não são de desenvolvimento ou que não são da área de tecnologia que estão não somente nos grandes centros, mas no interior, onde o mindset é muito diferente na maioria das empresas.
    </li>
    <li>
      Hoje o SEBRAE (muito forte e influenciador gigante no interior também na área de tecnologia e startups) fala muito, sobre transformação digital e algumas pessoas me perguntam se essa transformação digital é a mudança para o ágil. Queria poder conhecer a visão de todos do camp sobre isso.
    </li>
    <li>
      Parece que os princípios básicos, que se identifica no manifesto estão se distanciando, pois cada vez mais aprendo uma ferramenta ágil, assim granulando cada vez mais o processo ágil de desenvolvimento consequentemente levando mais tempo para o desenvolvimento, será que o ágil está ficando pesado para o desenvolvimento?
    </li>
    <li>
      Como a diretoria tem dificuldades ou conceitos muitas vezes a “moda antiga”, é necessário que eles tenham o mindset ágil ou como dizemos, necessitam serem agilistas raízes?
    </li>
    <li>
      Quero aprender mais sobre como aplicar a agilidade e descobrir se realmente ela pode trazer benefícios para outras áreas e quais?
    </li>
    <li>
      Quero aprender com a experiência dos participantes do camp como realizar a mudança cultural sem ser demitido! E compartilhar a minha.
    </li>
    <li>
      Qual a visão do Camp sobre Agile Coach no RH e o que seria o RH ágil que vem sendo apresentado e o papel do Agile Coach?
    </li>
    <li>
      Apresentar soluções ágeis e também se posicionar quando a visão de alguns é que agora a agilidade virou um grande comércio de várias técnicas onde algumas pessoas e/ou empresas acreditam que isso é algum tipo de modismo, Ontem foi Scrum, Storytelling, hoje é Design Thinking, amanhã será o que?
    </li>
  </ul>

  <h2>Como você planeja contribuir para esse Camp?</h2>
  
  <p>
    Acredito que minha visão das coisas por estar envolvido  diretamente com a comunidade de Startups e estudantes e convivendo com empresas de pequeno e médio porte e pensamentos "diferentes" muitas vezes provinciano, minha visão questionadora pode ajudar diretamente em aprofundarmos os problemas e quem sabe chegarmos em uma solução que pode ser aplicada não somente em empresas tradicionalmente de software ou similares, mas levar o Ágil para todos os tipo de negócio já que agora todos os ramos precisam ser ágeis para se manterem neste Mercado que é cada vez mais digital e veloz!
  </p>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Esclarecer o é que esse midset ágil, agilidade para aqueles que não são da comunidade, para assim sobreviver a possível banalização do termo.
  </p>
  <p>
    Muitas técnicas, framework e métodos cada vez mais estão sendo criados até mesmo por pessoas que não fazem parte da comunidade ágil, isso não é ruim ao contrário, mas que agora são produtos vendáveis onde muitas vezes o resultado da “implantação" dessa técnica no final não trouxe o resultado esperado, fazendo com que empresas não queiram mais tentar nada ágil!
  </p>
  <p>
    Um dos grandes desafios é mais do que alterar processos ou usar técnicas ágeis, mas com a educação cada vez menos criativa os alunos estão cada vez mais acomodados, assim cada vez mais as pessoas não sabem trabalhar em time e não conseguem pensar por si, esperando cada vez mais alguém dizer o que fazer! Com isso como será a agilidade daqui 5 anos?
  </p>
</div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>