<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "Lula.JPG"%>
    
    <h1>Luiz Phelipe Soares Rodrigues</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Comecei como desenvolvedor em um time ágil, e posteriormente fui ScrumMaster por alguns anos, atuando como líder servil, mentorando as pessoas do time em sua evolução profissional, garantindo um ambiente saudável e facilitando o trabalho do dia-a-dia através de soft-skills, técnicas de Scrum, Kanban e Lean. Em 2016, tornei-me Agile Coach na K21, com a missão de potencializar o sucesso da adoção de práticas ágeis em empresas de diversos ramos de negócio, atuando como observador, mediador, facilitador e instrutor para garantir que os princípios e valores ágeis se traduzam em práticas cotidianas dos times, com efeito multiplicador para o nível empresarial.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <ul>
      <li>
        <strong>Agile mainstream e o futuro do desenvolvimento de software: E depois dos Laggards?</strong>
        <br>
        Foi-se o tempo em que Agilidade era coisa de doido, utopia. A Agilidade atravessou o abismo e agora é moda. Quais são os efeitos imediatos desta mudança de visão do mercado conservador e os céticos em relação à agilidade? Qual onda os atuais entusiastas e visionários estão iniciando neste exato momento?
      </li>
      <li>
        <strong>Slow Agile: Utopia?</strong>
        <br>
        Está no manifesto: “Processos ágeis promovem um ambiente sustentável”. Mas quem leva isto realmente a sério? Bons profissionais sabem que Agile é diferente de “rapidinho”, e que o sucesso está na eficácia muito mais do que na eficiência. Mas quem, atualmente, é realmente capaz de puxar o freio de mão e conscientemente abrir algum espaço para o ócio criativo neste mundo cada vez mais veloz? Quem é capaz de diminuir seu ritmo de trabalho em 80% para focar somente nos 20% que realmente importam?
      </li>
      <li>
        <strong>A hype do Agile Coach</strong>
        <br>
        Entre 2015 e 2016 eram poucos os anúncios de vagas no mercado para ScrumMasters, e não havia nenhuma vaga procurando Agile Coaches. Dois anos depois, o que vemos é uma infinidade de empresas e profissionais usando e abusando do termo “Agile Coach”. Quais os benefícios desta explosão? Quais as consequências? Colocando na balança os prós e contras desta hype, o saldo final é positivo?
      </li>
      <li>
        <strong>Agile x Software Craftsmanship</strong>
        <br>
        O Manifesto ágil foi assinado por ilustres desenvolvedores: Martin Fowler, Kent Beck e Uncle Bob, entre outros. Mas se você for a qualquer evento de agilidade, lhe garanto que menos da metade dos participantes são desenvolvedores de software (remunerados especificamente para desenvolver). Os desenvolvedores de software atuais realmente acreditam na Agilidade? O que a comunidade emergente de Software Craftsmanship, por exemplo, acha de todo o Movimento Ágil? Estaria a agilidade atualmente dominada, por gerentes e burocratas disfarçados com suas camisetas e calças-jeans?
      </li>
    </ul>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <ul>
    <li>
      <strong>A vida de um Agile Coach na prática: Passado, presente e futuro</strong>
      <br>
      Atuo como Agile Coach há mais de dois anos, praticamente desde que o termo foi cunhado no mercado brasileiro. Para quem tem dúvidas do que um Agile Coach faz na prática, posso colaborar com experiências práticas do passado e do presente, além de prospectar um pouco do futuro deste papel tão misterioso.
    </li>
    <li>
      <strong>Visual Thinking na prática</strong>
      <br>
      João Reis disse: “visual thinking não é sobre dons artisticos, mas sobre expressar-se visualmente. mais importante é o processo do que o produto". Para quem não conhece ainda Visual Thinking, ou ainda o vê como arte, posso ensinar a utilizá-lo na prática para evoluir indivíduos, equipes e empresas, seja em uma retrospectiva ou em uma discussão técnica.
    </li>
    <li>
      <strong>A evolução das Retrospectivas</strong>
      <br>
      Aprendi com Jeff Sutherland que a Retrospectiva é a cerimônia mais importante do Scrum. Aprendi com Samuel Cavalcante que retrospectivas vão muito além do Fun Retrospectives. Inventamos, em 2017, o Retrô Poker, para aumentar a eficácia das retrospectivas. Pretendo agora ensinar aos que enxergam valor em Retrospectivas, como tirar maior proveito desta cerimônia.
    </li>
  </ul>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Ir além da agilidade, rumo ao próximo estágio da evolução das organizações (Laloux). A comunidade ágil tem como desafio ir além de frameworks e processos, e pensar em como criar locais de trabalho com real significado, autenticidade, integralidade, paixão e propósito.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>