<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAs2AAAAJGZjODJlYTVhLWI4YzctNDc4ZS1iZGMwLTdkNmEyMWQzM2IxZA.jpg">
    
    <h1>Mariana Graf</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Trabalho com agilidade há cerca de 5 anos. Atualmente atuando como Agile Coach no PagSeguro acredito que seja a experiência em que ajudo mais a organização no caminho da agilidade, principalmente tendo uma atuação em nível organizacional.Estamos construindo um trabalho que vai desde a base, de formação e conhecimentos de agilidade através de capacitações sobre princípios básicos acerca de ágil e lean, gestão 3.0, frameworks e métodos  até melhorias no processo dos times mais maduros.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <p>
      Hoje a minha maior dor é a do crescimento organizacional, na construção e estabelecimento de uma cultura de agilidade e melhoria contínua.  Gostaria de validar as hipóteses e compartilhar práticas com quem já viveu/vive essa realidade. Também gostaria de conversar mais sobre gestão de portfólio, conhecendo outras empresas que tenham cases considerando um cenário como o do PagSeguro. Métricas, ferramentas, melhores práticas e como utilizar o portfólio como um aliado na construção do backlog e priorização do trabalho do Agile Coach, experimento que estamos testando por aqui e aperfeiçoando semanalmente.
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Acredito que assuntos relacionados a pessoas e cultura organizacional. Tenho bastante experiência com o tema feedback, onde posso compartilhar meus últimos estudos e várias ferramentas, os problemas que resolvem e os resultados que eu obtive no uso das mesmas. Posso oferecer talks e workshop.
  </p>
  <p>
    Tenho familiaridade com facilitações diversas, desde cerimônias até conflitos, através de técnicas e atividades. Posso oferecer talks e workshop.
  </p>
  <p>
    Para quem quiser falar sobre OKRs posso falar sobre teoria e a prática da adoção em uma empresa de 20 pessoas e outra de 1000 pessoas. Quais são as lições aprendidas, os desafios e medidas que precisaram ser tomadas no meio desse caminho.
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Acho que duas coisas: como resgatar as pessoas que passam por experiências ruins com agilidade, e como a comunidade pode tornar-se mais disruptiva?
  </p>
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>