<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <img src="https://pbs.twimg.com/profile_images/641703974979112960/W6XXL4wx.jpg">
    
    <h1>Raphael Molesim</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Trabalho desde de 2005 com desenvolvimento de software e desde 2008 com métodos ágeis. Comecei como desenvolvedor assim fui adotando práticas de engenharia ágil. Até 2012 quando passei me dedicar integralmente como agile coach, atualmente tenho me dedicado em ajudar clientes da McKinsey & Company a iniciar a jornada da transformação digital.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <ul>
    <li>Scrum se popularizou bastante nos últimos anos, mas qual o real impacto da adoção em massa? Teria isso sido benéfico ou maléfico para a o desenvolvimento de software? E extrapolando este ponto qual o impacto da massificação de modelo em geral?</li>
    <li>Quando tempo dura um agile coach? Teria o papel do agile coach um prazo de validade? Se sim, por que nenhum desenho sobre a atuação do agile coach leva isso em consideração?</li>
    <li>Qual a posição de agile coach dentro da organização? Seria ele um conselheiro para a organzanização trazendo um contraponto a visão de delivery, ou ele deveria estar na posição de tomador de decisão para já direcionar o delivery com as melhores práticas?</li>
  </ul>  
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Eu pretendo ajudar organizando do evento todo, quero participar das discussões e sempre trazer desafios a conceitos quanto possível. 
  </p>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    O maior desafio será deixar de ser ágil, abandonar o rótulo obsoleto, e começar a se comunicar com outras áreas que não seja a TI.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>