<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <img src="https://cdn-images-1.medium.com/fit/c/200/200/0*t3VYDFNJNPmdPSO8.png">
    
    <h1>Raphael Albino</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      5 anos.
    </p>
    <p>
      O trabalho mais recente que fiz foi levar agilidade para o departamento de tecnologia de uma corretora de investimentos com mais de 40 anos de mercado. O processo levou em consideração a mentoria do C-level, treinamentos sobre agilidade para as equipes, criação e aplicação de um fluxo de trabalho e coaching com os agilistas e POs da empresa.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <ul>
    <li>
      <strong>Discutir sobre as diferenças entre transformação ágil versus transformação digital.</strong>
      <br>
      Será que transformação ágil e transformação digital são sinônimos? A principal dor que as empresas têm enfrentado ao se transformar está no desafio de trazer agilidade para o negócio e isso tem relação tanto com o aspecto do ágil (otimização de processos, priorização de demandas, gestão de pessoas etc.) como com a digitalização das funções do negócio. <br>
      Acreditar em meia dúzia de frameworks e palavras não fará com que uma empresa mude e sobreviva em um contexto dinâmico.Os desafios para desenvolver um ambiente que comporte as duas transformações exige engajamento nos diferentes níveis da empresa, lideranças que guiem uma mudança, um bom (e mutável) plano e paciência.<br>
      Gostaria de escutar a opinião dos participantes sobre as diferenças e desafios :)
</li>
    <li>
      <strong>Definição dos papéis de Agile Coach e PO/PM.</strong><br>
      O desalinhamento nas expectativas do que esperar dos papéis de uma equipe que atua com agilidade gera disfunções que podem fazer com que as pessoas não se engajem com os reais problemas do negócio.
      <br>Algumas perguntas:
      <ul>
      <li>As equipes que você atua possuem conflitos entre os papéis? As equipes recebem direcionamentos distintos sobre o que é preciso entregar (mudança constante de foco)?
As equipes se sentem desamparadas quando precisam de informações sobre o produto (ex: Product Owner, Product Manager)?</li>
      <li>As equipes sentem a falta de alguma pessoa responsável por pensar em melhorias no processo (ex: Scrum Master, Agile Coach)?</li>
    </ul>
</li>
    <li>
      <strong>Agilidade de fato está sendo algo leve? Vide a quantidade de frameworks que vem surgindo.</strong><br>
      Minha percepção é de que as pessoas estão se distanciando do princípio básico da agilidade que é reduzir os lotes de trabalho, mesmo que isso exija processos e ferramentas mais leves que promovam um ciclo (curto) onde o empirismo faça sentido. Caso contrário, estamos retomando o processo linear extenso que necessita de ferramentas robustas para a gestão de qualquer entregável (ex: grandes planejamentos, gestão de portfólio, gestão de riscos, gestão de stakeholders etc.).
</li>
  <li>
    <strong>O que diretores estão esperando sobre agilidade nas empresas?</strong><br>       
      Ou ainda: o Ágil está entregando aquilo que promete?
    </li>
</li>
  </ul>  
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <ul>
    <li>Kanban.</li>
    <li>Transformação ágil.</li>
    <li>Desenvolvimento de equipes de TI.</li>
    <li>Métricas em equipes."</li>
  </ul>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Consolidar a área de conhecimento como um meio e não um fim.<br>
    Se posicionar como uma facilitadora quando o assunto for negócios (expandindo os limites que hoje se encontram em pessoas e processos).
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>