<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <%= image_tag "renato_willi.png" %>
    
    <h1>Renato Willi</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <ul>
      <li>Tenho +10 anos de experiência com agilidade, e na maioria desse tempo eu gosto de pensar que ajudei minha ex-empresa a estar no caminho da agilidade.</li>
      <li>Dei vários treinamentos pela Adaptworks, Plano, K21, ajudei na tradução de livros, do manifesto ágil, publiquei vídeos, dei uma porrada de palestra, ajudei a criar alguns eventos (e organizei uns tantos), e ajudei a escrever e publicar um livro sobre o assunto</li>
      <li>Últimamente (e só ultimamente) estou atuando como consultor "expert em Agilidade" (não sei se Agile Coach realmente se enquadra - isso é uma briga pessoal interna). Mas são projetos em que ajudei como pude empresas gigantes no Brasil, Argentina, Peru, Chile e Colômbia a estarem nesse caminho.</li>
</li>
    </ul>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <p>
    <ul>
      <li>Facilitação (técnicas que desconheço, dinâmicas, etc.) Não é um ponto forte.</li><br>
      Sobre transformações em grandes organizações:<br><br>
      <li>Formas alternativas de orçamentação que possam instrumentar executivos de finanças a lidar  com processo de orçamentação alinhado a equipes/projetos ágeis</li>
      <li>Conhecemos tanto as mazelas de simples motivação extrínseca por bônus quanto modelos alternativos de reconhecimento (como Merit Money), mas alguém já conseguiu aplicar isso em uma grande organização? Eu tenho tentado. Enfrento vários desafios e ainda não cheguei a boas soluções. </li>
      <li>Um desafio é relacionado à remuneração de uma estrutura ágil: Como fazemos com papéis como Chapter Leader, Tribe Leader, CPO, Agile Coach (x Coach de time)...</li>
      <li>Tenho trabalhado muito com estruturas matriciais (estilo Spotify), gostaria de conhecer outras propostas de estruturas de empresas ágeis</li>
      <li>Gostaria de aprender mais sobre trabalho de coaching executivo (algo que faço um pouco, mas ainda acho que tenho que aprender bastante: abordagem, ferramental, estratégias, cases…)</li>
      <li>Futuro da nossa profissão, como podemos nos renovar, como podemos seguir trazendo valor  (assunto que detalhei um pouco mais na última questão)</li>
      <li>Trabalho bastante com OKR, gostaria de trocar experiências com outras pessoas que também fazem isso</li> 
    </ul>
  </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <ul>
    <li>Tenho trabalhado em projetos enormes de transformação digital. Acho essa experiência realmente valiosa porque a vejo pouco nos papos da comunidade. Normalmente falamos de coisas mais práticas, sendo que esse contexto "organizacional" também é relevante para termos sucesso.
    <li>Trabalho muito com muito de escala, organização, coaching, facilitação, estratégia, OKR... (os temas que coloquei acima). 
    <li>Se os outros participantes tivessem as mesmas "dores" ou experiências similares para trocarmos, acho que isso seria valioso. Quem sabe não podemos criar novas soluções a experimentarmos com essas conversas?</li>
  </ul>
  </p>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Vejo 2: cuidado com a banalização e se reinventar para continuar trazendo valor.<br>
    <ol>
    <li>Banalização: hoje tudo é Ágil, todo mundo sabe, todo mundo faz... Só que nem todo mundo está fazendo direito. A expressão está muito utilizada, e corremos o risco de prejudicá-la por causa disso. Vejo um alto risco da agilidade perder valor e dar espaço para próxima solução milagrosa.</li>
    <li>Com a orkutização da Agilidade e dos Agile Coaches, estes sujeitos vão ter que fazer 3 coisas para sobreviver no mercado:</li>
    <ul>
      <li> Se especializar em uma vertente de atuação, como técnica/codificação (TDD, DevOps - que ainda tem muito valor e escassez de oferta), ou negócios (PO foda, MKT Digital, Lean Startup, executivo), ou transformaçãore/estruturação organizacional etc.</li>
      <li>Sair da TI, levando a parte da Agilidade mais ligada à gestão para outras indústrias (algo que já vejo no mercado, inclusive vem acontecendo comigo)</li>
      <li> Se reinventar em algo totalmente novo. Como exemplo do que pode ser isso, vejo algumas iniciativas como a do Alisson (Software Zen/Gestão Efetiva), Juan Bernabó (Pragmatic Management), alguns retornos ao Lean e mais um monte de invenções por aí.</li>
    </ul>
  </ol>
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>