<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "Samuel-Cavalcante.jpg"%>
    
    <h1>Samuel Moro Bergamo Cavalcante</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Comecei a estudar métodos ágeis em 2010 enquanto estava no SENACMS, em 2013 passei a trabalhar com como Scrum Master em equipes da empresa DigithoBrasil (atualmente Digix) aonde estudei muito sobre Scrum, Kanban e facilitação de equipes. Atualmente atuo como Agile Coach na K21 agindo na transformação digital e ágil em diversas empresas. 
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  
    <ul>
      <li>O Agile Coach? Gostaria de refinar meus conhecimentos, entendendo a visão dos colegas quanto sobre esse papel. Em suma criei uma linha de raciocínio para entender esse papel mas gostaria de questioná-la. Uma prévia da minha linha de raciocínio atual : Utilizo a cadeia de valor (imagem de um Rio criada pelo Rodrigo de Toledo), com Coaching in a 2d Space do Alistair e os 4 domínios da agilidade (K21).</li>
      <li>Ter conversas inovadoras sobre culturas organizacionais, exemplo 'A cultura organizacional é "controlável'"?</li>
      <li>A transformação ágil e transformação digital. O que tem acontecido nas empresas? A diferença está clara? Minha impressão é de que existem muitas distorções como: "Vamos fazer um Design Sprint para termos certeza de todo o escopo do Projeto". </li>
    </ul>
  
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Vejo esse encontro como um momento de colaboração e criação de novos conhecimentos, o uso da inteligência coletiva para novos resultados. Pretendo contribuir com discussões sobre o papel do Agile Coach nas organizações e sobre como as pessoas estão agindo e reagindo com agilidade nas grandes corporações. Como exemplo de discussão que acredito ser interessante, "O Agile Coach é a polícia da agilidade?", tenho ouvido relatos que trazem essa percepção sobre o papel do Agile Coach, mas como fazer para isso não acontecer? O quanto o Agile Coach está ou deve estar atendo a isso? 
  </p>
    
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Depende, 5 anos acredito ser muito tempo, porém o que vejo de próximo desafio é o True Agile. Atualmente existem muitas distorções de entendimentos e empresas usando o Agile como a fórmula mágica.
  </p>
  </div>
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>