<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">

    <%= image_tag "profile-pic/thiago-soares.jpeg" %>
    
    <h1>Thiago Soares dos Santos Sousa</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Trabalho com tecnologia desde 1998 e a partir de 2012 passei a atuar integralmente como agile coach, desde então tive oportunidades que me permitiram colaborar desde o nível de time criando e evoluindo produtos em equipes de desenvolvimento software, bem como na adoção de práticas ágeis em toda a área de tecnologia e até mesmo em grandes iniciativas de transformação organizacional. Hoje trabalho em uma empresa que é vista por muitas outras como referência em agilidade e cultura organizacional. 
    </p>

  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
    <p>
      Gostaria de aprender mais sobre autonomia no trabalho, entender se estamos falando sobre autonomia para pessoas que no geral ainda não estão preparadas para trabalhar de forma autônoma, e qual é de fato a nossa responsabilidade nesse contexto.
    </p>
    <p>
      O papel do agile coach se transformou bastante nos últimos anos, gostaria de entender quais são os pensamentos que a comunidade anda tendo sobre o futuro desse papel.
    </p>
    <p>
      Agilidade já penetrou em tantos aspectos do trabalho, e já está sendo discutida em outras áreas além da TI, e percebo que o agile coach tem sido visto como a personificação da agilidade pelos recrutadores, e empresas interessadas em entender como agilidade pode vir a ser benéfica e agregar valor, mas será que todo contexto necessita de um Agile Coach, ou a agilidade pode ser vivida sem a presença dessa figura? 
    </p>
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Com um perfil bastante questionador e analítico, consigo adicionar perspectivas diferentes às discussões e ajudar os demais participantes a questionar suas próprias premissas e opiniões a partir de novas reflexões.
  </p>
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    Posicionar agilidade como um tema / conhecimento estratégico para as organizações
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>