<section id="position_papper" class="row">
  
  
  <div class="col-lg-3 col-md-7 col-sm-6">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAPoAAAAJDg3NTM2NGZmLTc4YWYtNGE3ZS1iMmE2LWM1MzRlYTYzZWRhNg.jpg">
    
    <h1>Yoris Linhares</h1>
  </div>
  
  <div class="col-lg-9 col-md-7 col-sm-6">
    <h2>Qual é a sua experiência colaborando para que equipes sejam ágeis?</h2>
    <p>
      Em 2006 começei a ajudar a equipe com a qual eu trabalhava a mudar a sua forma como lidar com o desenvolvimento de software, aplicando técnicas mais colaborativas e centradas no usuário e com ciclos menores de entrega. Como resultado diminuimos o tamanho do backlog em espera para ser trabalhado pela equipe, aumentamos a satisfação do cliente e melhoramos a qualidade do software que dávamos manutenção.
    </p>
    <p>
      Em 2008 passei a colaborar com outras equipes de desenvolvimento me dedicando na melhoria do fluxo de trabalho dessas equipes. Também realizei treinamentos e workshops com as equipes de desenvolvimento com as quais eu trabalhava. Fui convidado a realizar palestras, treinamentos e workshops para outras empresas. Atualmente ajudo as pessoas e equipes das organizações a aprenderem melhores formas de melhorem seu sistema seu trabalho.
    </p>
    
  <h2>O que você planeja aprender ou explorar nesse Camp?</h2>
  <ul>
    <li>Gostaria de aprender como ajudar as pessoas a melhorarem toda a, não somente o fluxo, gestão do trabalho partindo de dados obtidos na medição do fluxo de trabalho.</li>
    <li>Gostaria de explorar como as pessoas percebem a aprendizagem dentro de um processo de melhoria, algo secundário, principal, complementar, causa ou consequência?</li>
  </ul>  
  <h2>Como você planeja contribuir para esse Camp?</h2>
  <p>
    Geralmente vejo uma tendência de focarmos uma conversa ou debates em soluções, entretando entender bem os porquês relacionados ao tema que se está debatendo me parece a forma mais eficaz de se chegar a melhor solução. Acredito que eu possa contribuir com os participantes, com perspectivas e abordagens diferentes sobre essa questão bem como oferecer sugestões para extrair a melhor aprendizagem resultante dessas conversas.
  </p>
  
  <h2>Qual é o maior desafio para a comunidade ágil nos próximos 5 anos e por que?</h2>
  <p>
    O maior desafio para as pessoas da comunidade é centrarem seus esforços na aprendizagem do que fazem, porque fazem e como fazem e dedicarem menos esforços a seguirem modelos ou métodos.
  </p>
  </div>
  
  
  
  <div class="col-lg-12 col-md-7 col-sm-6">
    
  
    <a href="/#participants">Voltar</a>
    
    
  </div>
  
</section>