ul#principles {
  list-style: none;
  
  li {
    padding: 20px;
    margin: 20px;
    float: left;
  }
  
  div.principle {
    background-color: black;
    border-radius: 150px;
    width: 150px;
    height: 150px;
  }

  h4 {
    width: 150px;
    text-align: center;
  }

}