body {
  font-size: 18px;
}

section#propose ul, section#commitment ul {
  list-style: none;
}

section#promisses a.list-group-item {
  background-color: #F0B351;
}

.after-promisses {
  margin-top: 20px;
}

section#program table th {
  text-align: center;
}

section#program table td {
  padding: 10px;
  font-size: 18px;
}

section#program table tr td:first-child {
  width: 84px
}

section#commitment img, section#position_papper img {
  border-radius: 150px;
  width: 75%;
  margin: auto;
  display: block;
}

section#commitment a.participant {
  font-size: 23px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

section#participants_list li {
  
}

ul#principles {
  list-style: none;
  
  li {
    padding: 20px;
    margin: 20px;
    float: left;
  }
  
  div.principle {
    background-color: black;
    border-radius: 150px;
    width: 150px;
    height: 150px;
  }

  h4 {
    width: 150px;
    text-align: center;
  }
}

section#position_papper {
  h1 {
    text-align: center;
    margin-top: 20px;
  }
}

#footer li {
  float: left;
  margin-right: 1.5em;  
}

#footer p.license {
  margin-top: 1.5em;  
  margin-bottom: 0px;
  clear: both;  
}

img.logo {
  width: 120px;
  float: left;
  margin-right: 10px;
}
div#header hr {
  clear: both;
}

section#propose div.bg-info {
  background-color: #68ACAC !important ;
}

button#register {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
}

.payment-methods {
  list-style: none;  
}
.payment-methods li {
  float: left;
  padding: 20px 50px; 
}

.payment {
  width: 200px;
}
.payment-card {
  width: 150px;
}
.options {
  list-style: none;  
  
}



