@font-face {
  font-family: 'Prompt';
  src: asset-url('Prompt-Regular.woff2') format("woff2"),
       asset-url('Prompt-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Prompt Medium';
  src: asset-url('Prompt-Medium.woff2') format("woff2"),
       asset-url('Prompt-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Prompt Light';
  src: asset-url('Prompt-Light.woff2') format("woff2"),
       asset-url('Prompt-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Prompt ExtraLight';
  src: asset-url('Prompt-ExtraLight.woff2') format("woff2"),
       asset-url('Prompt-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: 'Prompt Thin';
  src: asset-url('Prompt-Thin.woff2') format("woff2"),
       asset-url('Prompt-Thin.ttf') format("truetype");
}

body#acc2022 {
	#content {
		padding: 18px 18px;
	
		.row {
			margin: 0px;
		}
	
	}
	
	h1 {
		font-family: "Prompt";
		color: white;
		font-weight: unset;
	}
	
	p {
		font-family: "Prompt Thin";
		color: white
	}
	
	.bs-docs-section {
		margin-bottom: 18px;
	}
	
	.btn-camp {
		background-color: #345e41;
		display: inline;
		color: white;
		border-radius: 0px;
		font-family: "Prompt";
		text-transform: uppercase;
		font-size: 13px;
		padding: 15px 35px;
	}
	
	
	#landing-img {
		background: image-url('landing-22.jpeg') no-repeat center center fixed;
    	background-size: cover;   
		padding: 0px 0px;
		height: 96vh;
		
		div.layer {
			width: 100%;
			background: rgba(0, 0, 0, 0.7);
			height: 96vh;
			display: flex;
	  	  	flex-direction: column;
	  		justify-content: center;
			
			
			h1 {
				font-family: "Prompt Medium";
				letter-spacing: 3px;
				text-transform: uppercase;
				font-size: 85px;
				margin-right: 10%;
				vertical-align: center;
				text-align: right;
			}
		
			p, div {
				font-family: "Prompt Thin";
				margin-right: 10%;
				font-size: 20px;
				text-align: right;
				margin-bottom: 20px;
			}
		
			a {
				position: relative;
				top: 10px;
			}
			h1,  p{
				margin-left: 50%;
			}
			h1 {
				margin-bottom: 25px;
			}
		
			p, div {
				margin-bottom: 45px;
			}
			
		}	

	}
	
	.default-section, .alternated-section  {
		height: 541px;
		.image-content {
			overflow: hidden; /* [1.2] Hide the overflowing of child elements */
			height: 541px;	
			img {
				height: 541px;
				width: 100%;
			  	transition: transform 2s;
				transform: scale(1.2);			
			}
		}
	}
	
	.default-section:hover img, .alternated-section:hover img {
	  transform: scale(1.1);
	}
	
	.text-content {
		padding: 0px 90px;
		border-right: 18px solid white;
	
		div {
			height: 541px;
			display: flex;
	  	  	flex-direction: column;
	  		justify-content: center;
		}	
	
		h1 {
			font-size: 30px;
		}			
	
		p, ul {
			font-family: "Prompt ExtraLight";
		}
	
		p, h1, ul {
		   color: black;
		   margin-bottom: 20px;
		}
	}
	
	.default-section {		
		.text-content {
			background-color: #ededea;
			font-size: 18px;
		}
				
	}
	
	.alternated-section {
		.text-content {
			background-color: white;
			font-size: 15px;	
		}	
	}
	
	.image-full-content {
		img {
			width: 100%;
		}
			
	}
	.program-section {
		.title {
			text-align: right;
			div {
				height: 714px;
				display: flex;
	  	  		flex-direction: column;
	  			justify-content: center;				
			}
			h1 {
				color: #f2f2f2;
				font-size: 90px;
				font-family: "Prompt Medium";
			}
			h3 {
				font-size: 30px;
				color: black;
				font-family: "Prompt";
				margin-left: 20%;
				margin-top: -38px;
			}
		}
		
		.features {
			ul {
				list-style: none;
				li {
					float: left;
					width: 50%;
					h2 {
						margin-top: 20px;
					}
					div {
						width: 80%;
					}
				}
				li:nth-child(even) {
					margin-top: 70px;
				}				
			}
			img {
				width: 109px;
			}
			p {
				color: black;
			}
		}
		
	}
	
	
	
}


@media only screen and (min-width: 980px) {
	
}	