<br><br><br><br><br>
<div class="row">
  <div id="accountability" class="col-lg-10 col-sm-12 table-sm">

    <h1>Transparência e Prestação de contas</h1>

    <p>Com o objetivo de realizar um evento de custo neutro, segue toda a prestação de contas do evento. Este ano tivemos um custo menor que a receita totalizando <b>R$ 6.969,46 no positivo</b>, este valor será mantido com a Agile Alliance Brazil para financiamento do próximo Agile Coach Camp.</p>
    
	<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#main">Extrato Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#subscriptions">Inscrições</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sponsors">Patrocíonios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#hotel">Hotel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#kit">Kit Participante</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#advertising">Publicidade</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#supplies">Materiais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#services">Atividades Contratadas</a>
    </li>
    
		
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="main">
			
	    <table class="table">

	      <tr>
	        <th scope="col">Descrição</th>
	        <th scope="col">Valor Total</th>
	      </tr>


	      <tr>
	        <td>Inscrições</td>
	        <td class="earn">R$ 69.990,97</td>
	      </tr>
        
	      <tr>
	        <td>Patrocínio</td>
	        <td class="earn">R$ 9.875,00</td>
	      </tr>
  
	      <tr>
	        <td class="total">Total de ganhos</td>
	        <td class="total earn">R$ 79.865,97</td>
	      </tr>
  

	      <tr>
	        <td>Hotel</td>
	        <td class="cost">R$ 55.733,00</td>
	      </tr>
	
	      <tr>
	        <td>Kit Participante</td>
	        <td class="cost">R$ 3.254,50</td>
	      </tr>
	
	      <tr>
	        <td>Publicidade</td>
	        <td class="cost">R$ 769,50</td>
	      </tr>
	
	      <tr>
	        <td>Materiais</td>
	        <td class="cost">R$ 1.110,60</td>
	      </tr>
	
	      <tr>
	        <td>Atividades Contratadas</td>
	        <td class="cost">R$ 11.477,00</td>
	      </tr>
	
	      <tr>
	        <td>Tarifa Bancária (DOC/TED)</td>
	        <td class="cost">R$ 63,60</td>
	      </tr>
	
	      <tr>
	        <td>Taxa Boleto</td>
	        <td class="cost">R$ 186,20</td>
	      </tr>
	
	      <tr>
	        <td>Tarifa Cartão de Crédito</td>
	        <td class="cost">R$ 302,11</td>
	      </tr>
  
	      <tr>
	        <td class="total">Total de custos</td>
	        <td class="total cost">R$ 72.896,51</td>
	      </tr>
  
	      <tr>
	        <td class="result">Resultado final</td>
	        <td class="result earn">R$ 6.969,46</td>
	      </tr>
  
	    </table>
    </div>
    <div class="tab-pane fade" id="subscriptions">
	    <table class="table">

	      <tr>
	        <th scope="col">Tipo Inscrição</th>
					<th scope="col">Valor</th>
					<th scope="col">Quantidade</th>
	        <th scope="col">Valor Total</th>
	      </tr>
				
	      <tr>
	        <td>Quarto Compartilhado</td>
	        <td class="earn">R$ 1.530,00</td>
	        <td>16</td>
	        <td class="earn">R$ 24.480,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família</td>
	        <td class="earn">R$ 2.250,00</td>
	        <td>9</td>
	        <td class="earn">R$ 20.250,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família (Upgrade do Single)</td>
	        <td class="earn">R$ 2.260,00</td>
	        <td>2</td>
	        <td class="earn">R$ 4.520,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família Triplo</td>
	        <td class="earn">R$ 2.780,00</td>
	        <td>2</td>
	        <td class="earn">R$ 5.560,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Individual</td>
	        <td class="earn">R$ 1.950,00</td>
	        <td>4</td>
	        <td class="earn">R$ 7.800,00</td>
	      </tr>

	      <tr>
	        <td>Quarto Família (Duplex)</td>
	        <td class="earn">R$ 3.640,00</td>
	        <td>1</td>
	        <td class="earn">R$ 3.640,00</td>
	      </tr>
				
	      <tr>
	        <td>Inscrição descontado ISS - Compartilhado</td>
	        <td class="earn">R$ 1.435,90</td>
	        <td>1</td>
	        <td class="earn">R$ 1.435,90</td>
	      </tr>
				
				
	      <tr>
	        <td>Inscrição descontado ISS - Individual + Upgrade</td>
	        <td class="earn">R$ 2.130,07</td>
	        <td>1</td>
	        <td class="earn">R$ 2.130,07</td>
	      </tr>			
	      
  
	      <tr>
	        <td class="total" colspan="2">Total de incrições</td>
					<td class="total">36</td>
	        <td class="total earn">R$ 69.815,97</td>
	      </tr>
				
	      <tr>
	        <td>Taxa de Cancelamento (até 2 semanas antes do evento)</td>
	        <td class="earn">R$ 175,00</td>
	        <td>1</td>
	        <td class="earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="2">Total de cancelamentos</td>
					<td class="total">1</td>
	        <td class="total earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="3">Total de receita inscrições</td>

	        <td class="total earn">R$ 69.990,97</td>
	      </tr>
  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="sponsors">
	    <table class="table">

	      <tr>
	        <th scope="col">Patrocinador</th>
					<th scope="col">Cota</th>
	        <th scope="col">Valor Total</th>
	      </tr>
				
	      <tr>
	        <td>K21</td>
	        <td>Cota 1</td>
	        <td class="earn">R$ 2.500,00</td>
	      </tr>
				
	      <tr>
	        <td>Banco BV</td>
	        <td>Cota 2</td>
	        <td class="earn">R$ 4.875,00</td>
	      </tr>
				
	      <tr>
	        <td>TQI</td>
	        <td>Cota 1</td>
	        <td class="earn">R$ 2.500,00</td>
	      </tr>
	      <tr>
	        <td class="total" colspan="2">Total de receita de patronicío</td>

	        <td class="total earn">R$ 9.875,00</td>
	      </tr>
  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="hotel">
	    <table class="table">

	      <tr>
	        <th scope="col">Despesa</th>
					<th scope="col">Valor</th>
					<th scope="col">Quantidade</th>
	        <th scope="col">Valor Total</th>
	      </tr>
				
	      <tr>
	        <td>Almoço convidados</td>
	        <td class="cost">R$ 90,00</td>
	        <td>4</td>
	        <td class="cost">R$ 360,00</td>
	      </tr>
				
	      <tr>
	        <td>Bebidas Convidados (Suco)</td>
	        <td class="cost">R$ 9,00</td>
	        <td>3</td>
	        <td class="cost">R$ 9,00</td>
	      </tr>
				
	      <tr>
	        <td>Bebidas Convidados (Refrigerante)</td>
	        <td class="cost">R$ 6,50</td>
	        <td>1</td>
	        <td class="cost">R$ 6,50</td>
	      </tr>
				
	      <tr>
	        <td>Bebidas Convidados (Água)</td>
	        <td class="cost">R$ 3,50</td>
	        <td>2</td>
	        <td class="cost">R$ 7,00</td>
	      </tr>
				
	      <tr>
	        <td>Copo de água (Evento)</td>
	        <td class="cost">R$ 3,50</td>
	        <td>295</td>
	        <td class="cost">R$ 1.032,50</td>
	      </tr>
				
	      <tr>
	        <td>Coffee break (opção 1)</td>
	        <td class="cost">R$ 55,00</td>
	        <td>80</td>
	        <td class="cost">R$ 4.400,00</td>
	      </tr>
				
	      <tr>
	        <td>Coffee break (opção 2)</td>
	        <td class="cost">R$ 30,00</td>
	        <td>40</td>
	        <td class="cost">R$ 1.200,00</td>
	      </tr>
				
	      <tr>
	        <td>Fogueira</td>
	        <td class="cost">R$ 350,00</td>
	        <td>1</td>
	        <td class="cost">R$ 350,00</td>
	      </tr>
				
	      <tr>
	        <td>Sala Girassol</td>
	        <td class="cost">R$ 2.000,00</td>
	        <td>1</td>
	        <td class="cost">R$ 20.00,00</td>
	      </tr>
								
	      <tr>
	        <td class="total" colspan="3"><a href="https://drive.google.com/file/d/1oQBJgYzS_yntpaBk9KECRwAOQ0qQ1HLf/view?usp=sharing">Despesas extras com hotel</a></td>

	        <td class="total cost">R$ 11.383,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Individual</td>
	        <td class="cost">R$ 1.140,00</td>
	        <td>6</td>
	        <td class="cost">R$ 6.840,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Duplo</td>
	        <td class="cost">R$ 1.440,00</td>
	        <td>20</td>
	        <td class="cost">R$ 28.800,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Triplo</td>
	        <td class="cost">R$ 1.960,00</td>
	        <td>3</td>
	        <td class="cost">R$ 5.880,00</td>
	      </tr>
				
	      <tr>
	        <td>Duplex</td>
	        <td class="cost">R$ 2.830,00</td>
	        <td>1</td>
	        <td class="cost">R$ 2.830,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="3">Despesas com acomodação</td>

	        <td class="total cost">R$ 44.350,00</td>
	      </tr>
				
				
	      <tr>
	        <td class="total" colspan="3"><a href="https://drive.google.com/file/d/1tnt2ivM7h6EkquJyiXd9HcxY6iaHg0L_/view?usp=sharing">Despesas totais com hotel</a></td>

	        <td class="total cost">R$ 55.733,00</td>
	      </tr>
  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="kit">
	    <table class="table">

	      <tr>
	        <th scope="col">Despesa</th>
	        <th scope="col">Valor Total</th>
	      </tr>

	      <tr>
	        <td><a href="https://drive.google.com/file/d/16c-1i_gnmfs893AYVXJKn-GHur1HLU1K/view?usp=sharing">Sacolas de presente para brindes</a></td>
	        <td class="cost">R$ 77,50</td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/1BFT5GkXSrmWIfX0Ycm9bof7nfFxsYcC3/view?usp=sharing">Camisetas</a></td>
	        <td class="cost">R$  2.287,00 </td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/1X0vAPrs0D6zLpVh9z9F09ueAgG77dDyi/view?usp=sharing">Livreto</a></td>
	        <td class="cost">R$ 890,00</td>
	      </tr>
								
	      <tr>
	        <td class="total">Despesas com o kit do participante</td>

	        <td class="total cost">R$ 3.254,50</td>
	      </tr>  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="advertising">
	    <table class="table">
				
	      <tr>
	        <th scope="col">Despesa</th>
	        <th scope="col">Valor Total</th>
	      </tr>

	      <tr>
	        <td><a href="https://drive.google.com/file/d/17kTwQrvWpe2wny6LEG7F-nlPdBB50YHD/view?usp=sharing">Banners dos patrocinadores</a></td>
	        <td class="cost">R$ 299,50</td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/1j57BoOOJ3LVIviuWZnHVjyaIgRE04-QL/view?usp=sharing">Porta Banner</a></td>
	        <td class="cost">R$ 170,00</td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/16X1LMlKhQ5RXuiPgI796f7c16J5Kcg26/view?usp=sharing">Designer do Banner</a></td>
	        <td class="cost">R$ 300,00</td>
	      </tr>
								
	      <tr>
	        <td class="total">Depesas com publicidade</td>

	        <td class="total cost">R$ 769,50</td>
	      </tr>  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="supplies">
	    <table class="table">

	      <tr>
	        <th scope="col">Despesa</th>
	        <th scope="col">Valor Total</th>
	      </tr>

	      <tr>
	        <td><a href="https://drive.google.com/file/d/15Vew469jxgStgQdmBQmYWj8o9IMQVhK8/view?usp=sharing">Aluguel de flipcharts</a></td>
	        <td class="cost">R$ 677,20</td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/1DQs9jtRJDwWIbkcrH1ZwalZDwkQBOQJR/view?usp=sharing">Materiais de escritório</a></td>
	        <td class="cost">R$ 433,40</td>
	      </tr>
								
	      <tr>
	        <td class="total">Depesas com materiais</td>

	        <td class="total cost">R$ 1.110,60</td>
	      </tr>  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="services">
	    <table class="table">

	      <tr>
	        <th scope="col">Despesa</th>
	        <th scope="col">Valor Total</th>
	      </tr>

	      <tr>
	        <td><a href="https://drive.google.com/file/d/1wtsVSlK42eVj-Ba1p8g_ZKQHOENQBIGP/view?usp=sharing">Facilitação Icebreaker</a></td>
	        <td class="cost">R$ 3.737,00 </td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/1npqwBF7QaNAhdF67nQ7OOuGhAQ-2Nodj/view?usp=sharing">Fotógrafo</a></td>
	        <td class="cost">R$ 2.500,00 </td>
	      </tr>
				
	      <tr>
	        <td><a href="https://drive.google.com/file/d/15rYwP3Ua41CJYzaTWkpsKO7PU0YFDqgQ/view?usp=sharing">Facilitação Gráfica</a></td>
	        <td class="cost">R$ 5.240,00</td>
	      </tr>
								
	      <tr>
	        <td class="total">Depesas com atividades contratadas</td>

	        <td class="total cost">R$ 11.477,00</td>
	      </tr>  
	    </table>
    </div>
		
		
    
    
		
  </div>
</div>