<br><br><br><br><br>
<div class="row">
  <div id="accountability" class="col-lg-8 col-sm-12 table-sm">

    <h1>Transparência e Prestação de contas</h1>

    <p>Com o objetivo de realizar um evento de custo neutro, segue toda a prestação de contas do evento. Este ano tivemos um custo menor que a receita totalizando <b>R$ 10.706,46 no positivo</b>, este valor será mantido com a Agile Alliance Brazil para financiamento do próximo Agile Coach Camp.</p>
    
	<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#main">Extrato Principal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#subscriptions">Inscrições</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#subscriptions">Hotel</a>
    </li>
    
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="main">
			
	    <table class="table">

	      <tr>
	        <th scope="col">Descrição</th>
	        <th scope="col">Valor Total</th>
	      </tr>


	      <tr>
	        <td>Inscrições</td>
	        <td class="earn">R$ 69.990,97</td>
	      </tr>
        
	      <tr>
	        <td>Patrocínio</td>
	        <td class="earn">R$ 9.875,00</td>
	      </tr>
  
	      <tr>
	        <td class="total">Total de ganhos</td>
	        <td class="total earn">R$ 79.865,97</td>
	      </tr>
  

	      <tr>
	        <td>Hotel</td>
	        <td class="cost">R$ 55.733,00</td>
	      </tr>
	
	      <tr>
	        <td>Kit Participante</td>
	        <td class="cost">R$ 3.254,50</td>
	      </tr>
	
	      <tr>
	        <td>Publicidade</td>
	        <td class="cost">R$ 769,50</td>
	      </tr>
	
	      <tr>
	        <td>Materiais</td>
	        <td class="cost">R$ 1.110,60</td>
	      </tr>
	
	      <tr>
	        <td>Atividades Contratadas</td>
	        <td class="cost">R$ 7.740,50</td>
	      </tr>
	
	      <tr>
	        <td>Tarifa Bancária (DOC/TED)</td>
	        <td class="cost">R$ 63,60</td>
	      </tr>
	
	      <tr>
	        <td>Taxa Boleto</td>
	        <td class="cost">R$ 186,20</td>
	      </tr>
	
	      <tr>
	        <td>Tarifa Cartão de Crédito</td>
	        <td class="cost">R$ 302,11</td>
	      </tr>
  
	      <tr>
	        <td class="total">Total de custos</td>
	        <td class="total cost">R$ 69.159,51</td>
	      </tr>
  
	      <tr>
	        <td class="result">Resultado final</td>
	        <td class="result earn">R$ 10.706,46</td>
	      </tr>
  
	    </table>
    </div>
    <div class="tab-pane fade" id="subscriptions">
	    <table class="table">

	      <tr>
	        <th scope="col">Tipo Inscrição</th>
					<th scope="col">Valor</th>
					<th scope="col">Quantidade</th>
	        <th scope="col">Valor Total</th>
	      </tr>
				
	      <tr>
	        <td>Quarto Compartilhado</td>
	        <td class="earn">R$ 1.530,00</td>
	        <td>16</td>
	        <td class="earn">R$ 24.480,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família</td>
	        <td class="earn">R$ 2.250,00</td>
	        <td>9</td>
	        <td class="earn">R$ 20.250,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família (Upgrade do Single)</td>
	        <td class="earn">R$ 2.260,00</td>
	        <td>2</td>
	        <td class="earn">R$ 4.520,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família Triplo</td>
	        <td class="earn">R$ 2.780,00</td>
	        <td>2</td>
	        <td class="earn">R$ 5.560,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Individual</td>
	        <td class="earn">R$ 1.950,00</td>
	        <td>4</td>
	        <td class="earn">R$ 7.800,00</td>
	      </tr>

	      <tr>
	        <td>Quarto Família (Duplex)</td>
	        <td class="earn">R$ 3.640,00</td>
	        <td>1</td>
	        <td class="earn">R$ 3.640,00</td>
	      </tr>
				
	      <tr>
	        <td>Inscrição descontado ISS - Compartilhado</td>
	        <td class="earn">R$ 1.435,90</td>
	        <td>1</td>
	        <td class="earn">R$ 1.435,90</td>
	      </tr>
				
				
	      <tr>
	        <td>Inscrição descontado ISS - Individual + Upgrade</td>
	        <td class="earn">R$ 2.130,07</td>
	        <td>1</td>
	        <td class="earn">R$ 2.130,07</td>
	      </tr>			
	      
  
	      <tr>
	        <td class="total" colspan="2">Total de incrições</td>
					<td class="total">36</td>
	        <td class="total earn">R$ 69.815,97</td>
	      </tr>
				
	      <tr>
	        <td>Taxa de Cancelamento</td>
	        <td class="earn">R$ 175,00</td>
	        <td>1</td>
	        <td class="earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="2">Total de cancelamentos</td>
					<td class="total">1</td>
	        <td class="total earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="3">Total de receita inscrições</td>

	        <td class="total earn">R$ 69.990,97</td>
	      </tr>
  
	    </table>
    </div>
		
    <div class="tab-pane fade" id="hotel">
	    <table class="table">

	      <tr>
	        <th scope="col">Tipo Inscrição</th>
					<th scope="col">Valor</th>
					<th scope="col">Quantidade</th>
	        <th scope="col">Valor Total</th>
	      </tr>
				
	      <tr>
	        <td>Quarto Compartilhado</td>
	        <td class="earn">R$ 1.530,00</td>
	        <td>16</td>
	        <td class="earn">R$ 24.480,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família</td>
	        <td class="earn">R$ 2.250,00</td>
	        <td>9</td>
	        <td class="earn">R$ 20.250,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família (Upgrade do Single)</td>
	        <td class="earn">R$ 2.260,00</td>
	        <td>2</td>
	        <td class="earn">R$ 4.520,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Família Triplo</td>
	        <td class="earn">R$ 2.780,00</td>
	        <td>2</td>
	        <td class="earn">R$ 5.560,00</td>
	      </tr>
				
	      <tr>
	        <td>Quarto Individual</td>
	        <td class="earn">R$ 1.950,00</td>
	        <td>4</td>
	        <td class="earn">R$ 7.800,00</td>
	      </tr>

	      <tr>
	        <td>Quarto Família (Duplex)</td>
	        <td class="earn">R$ 3.640,00</td>
	        <td>1</td>
	        <td class="earn">R$ 3.640,00</td>
	      </tr>
				
	      <tr>
	        <td>Inscrição descontado ISS - Compartilhado</td>
	        <td class="earn">R$ 1.435,90</td>
	        <td>1</td>
	        <td class="earn">R$ 1.435,90</td>
	      </tr>
				
				
	      <tr>
	        <td>Inscrição descontado ISS - Individual + Upgrade</td>
	        <td class="earn">R$ 2.130,07</td>
	        <td>1</td>
	        <td class="earn">R$ 2.130,07</td>
	      </tr>			
	      
  
	      <tr>
	        <td class="total" colspan="2">Total de incrições</td>
					<td class="total">36</td>
	        <td class="total earn">R$ 69.815,97</td>
	      </tr>
				
	      <tr>
	        <td>Taxa de Cancelamento</td>
	        <td class="earn">R$ 175,00</td>
	        <td>1</td>
	        <td class="earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="2">Total de cancelamentos</td>
					<td class="total">1</td>
	        <td class="total earn">R$ 175,00</td>
	      </tr>
				
	      <tr>
	        <td class="total" colspan="3">Total de receita inscrições</td>

	        <td class="total earn">R$ 69.990,97</td>
	      </tr>
  
	    </table>
    </div>
  </div>
		
		
		
    
    
		
  </div>
</div>