<div id="conteudo_gerado" class="bs-docs-section clearfix">
 	<div class="row">
		<div class="col-lg-12 col-sm-12" >
			<h1>Painéis Ilustrados</h1>
			<p>Durante o evento tivemos alguns ilustradores profissionais registrando algumas conclusões dos open spaces. Tivemos duas equipes registrando 4 sessões ao longo do dia, segue abaixo os painéis digitalizado das 4 sessões:</p>
			  
			<img id="image1"  class="col-lg-12 col-sm-12" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_01_AGILE_COACH_CAMP_2020_baixa.jpg" />
	    <img id="image2" class="col-lg-12 col-sm-12" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_02_AGILE_COACH_CAMP_2020_baixa.jpg" />
			<img id="image3" class="col-lg-12 col-sm-12" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_03_AGILE_COACH_CAMP_2020_baixa.jpg" />
			<img id="image4" class="col-lg-12 col-sm-12" src="https://agile-coach-camp-2020.s3-sa-east-1.amazonaws.com/facilitacao-grafica/painel_grafico_04_AGILE_COACH_CAMP_2020_baixa.jpg" />
		</div>
  </div>
</div>
