<div id="conteudo_gerado" class="bs-docs-section clearfix">
  <div class="row" id="program">		 
		<div class="col-lg-12 col-sm-12" >
		<h1>Fotos do evento</h1>
		</div>
		<div class="col-lg-4 col-sm-12" >
       <ul class="row">				 
         <li class="col-lg-12 col-sm-10">
           <h3>Sexta-feira</h3><hr>
         </li>				 
				 <a href="https://photos.google.com/share/AF1QipMllqQTk3HaZ3GlPr7L1GIi7HUWkzuqlCt7ogfaRH8LIMoIalEBObORr5DDmBDFsA?key=Q2o5MEs5Y1JOZ0Vsa0JRV0RkQm9CNkRyRlIzUzB3"><img class="col-lg-12 col-sm-12" src="https://lh3.googleusercontent.com/pw/AM-JKLUn42dYMfm0NI3omaBSsMsxK_LJX-i66rj7tUdr4_-xvZZytuyzJZE8LyX6pA90kRCFRZF2EaMFQQXlM8zL5bHR7gunKFYkM7FqHXDsW-A1JEuxf4GP9mhRQ1hwCEHtELP-Bjn0B7tM_peiOkBamA4E=s764-no?authuser=0" />
				 Link para as fotos</a>
		</div>
		<div class="col-lg-4 col-sm-12" >
       <ul class="row">				 
         <li class="col-lg-12 col-sm-10">
           <h3>Sábado</h3><hr>
         </li>				 
				 <a href="https://photos.google.com/share/AF1QipNUJ93p7ADmreQAoB6hLhCtAL_ZXZxZK8GGNqIYRklo4GkWz6HnisP8VF-fSmvt8Q?key=MVQ1VzlXekZZUDg2RnE5dk83UVMzOVEzazZrTFhB"><img class="col-lg-12 col-sm-12" src="https://lh3.googleusercontent.com/pw/AM-JKLWpdBIQJeYqZITjCN3GY_Jdm50qOymbt0-2b-tb2h-DB_7HMndtS7vTcYGU9CwjrUzyUqZIPIR0fNgn-2YcWKxyi3PtzJhmmROL9hMj7VjlQG6hdL1jqVxcCSIUOarVZvTyxKm3sMa43DNju3ZNb97L=s764-no?authuser=0" />
				 Link para as fotos</a>
		</div>
		<div class="col-lg-4 col-sm-12" >
       <ul class="row">				 
         <li class="col-lg-12 col-sm-10">
           <h3>Domingo</h3><hr>
         </li>				 
				 <a href="https://photos.google.com/share/AF1QipNPn3l71TBDvwiW32hpZgeyWW80lYsDf-YKgvlCduatVoCjt2xwKY7kXS873M1KBQ?key=VlhLN2JWVFJPS3RFcmtBSlVDb1ZLTlVSY0pnWHZn"><img class="col-lg-12 col-sm-12" src="https://lh3.googleusercontent.com/pw/AM-JKLXfC65d8TRUEzOpIYxZ8-1I2BRIg-acLHD6j_qVElomJp_1x3j4Go_1sW6uy89VJh07jgblZ-b13AQzmJYnpXW0qahNzLnkX1YZY4SdW5EowP35RmCM8bterdp_wcaMDD-24N2W4_Hp-_pxWmayBQZk=s764-no?authuser=0" />
				 Link para as fotos</a>
	  </div>
	</div>
</div>