<h1>Surveys</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Subscription</th>
      <th>Payment</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.email %></td>
        <td><%= survey.subscription %></td>
        <td><%= survey.payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

