<section class="row"> 

  <div class="col-lg-12 col-md-7 col-xs-12">
    <h2>Inscreva se com o um Position Paper</h2>
    <p>
      Além do valor da inscrição todos os participantes precisaram montar um position paper. O position paper é um mecanismos já utilizados por desconferências para que os participantes já começem a refletir sobre qual conteúdo gostariam de trazer para evento. Esperamos que este exercício consiga nos ajudar a trazer o melhor conteúdo para evento.
    </p>
    <p>
      Todos os positions papers passaram por uma avaliação que tem o objetivo ajudar os participantes escreveram melhores positions papers. Positions papers são avaliados pelos seguintes critérios:
    </p>
    <ul>
      <li><strong>Objetividade</strong> - demonstrar algo realizável, concreto, relevante, específico.</li>
      <li><strong>Propor temas avançados</strong> - propostas de temas que estejam além do conhecimento que já está sedimentado na cultura da comunidade ágil.</li>
      <li><strong>Clareza na proposta de aprendizado</strong> - mostrar de forma clara e específica qual aprendizado se pretende levar e trazer para o evento.</li>
      <li><strong>Ao menos 3 anos de experiência</strong> - demonstrar que, no todo, há ao menos três anos de experiência colaborando para que equipes e organizações sejam ágeis.</li>
    </ul>
     <p>
       Neste processo você pode ter seu paper aprovado ou receber um feedback de um membro da organização sobre como melhorar o seu paper. Com o paper aprovado você está liberado para realizar o pagamento, com a confirmação do pagamento sua foto e position paper vem para a home do site.
     </p> 
     <p>
       A organização pode rejeitar um paper se entender que após sucessivos feedback não está havendo reação, ou caso deixe de receber respostas. Ao mesmo tempo caso um participande receba um feedback, mas por alguma razão acredita que o avaliador não fez um bom trabalho ao avaliar seu position paper, ele pode solicitar uma revisão de um segundo avaliador.  
     </p>
    </p>
    <p>
      <form method="get" action="https://agilecoachcamp.typeform.com/to/MQpKI6">
      <button class="btn btn-outline-primary">Crie seu position paper agora!</button>
       </form>
    </p>
    
    <h2 id="pricing">Quanto custa?</h2>
    <p>
      Temos três opções de quartos de acordo com a seu bolso, privacidade e companhia.
    </p>
    <ul class="pricing_list">
      <li>Dividindo Quarto - <strong>R$ 1.080,00 por participante</strong> - Dividir o quarto com outro participante do evento</li>
      <li>Quarto Individual - <strong>R$ 1.410,00</strong> - Um quarto só para você.</li>
      <li>Quarto Familia - <strong>R$ 1.800,00</strong>  - Leve sua família, 2 adultos e 1 criança até 10 anos</li>
    </ul>
    <p>
      <strong>Todas as opções com refeições incluídas (Café da manhã, almoço e jantar), hospedagem e todo custo das atividades do evento estão cobertas</strong>. Cobrança extra para bebidas e estacionamento.
    </p>
    <p>Opções de <strong>parcelamento</strong> serão oferecidas de acordo com as tarifas padrão do Pagseguro.
    </p>
    <p>Para outras opções entrar em contato com a organização do evento através do e-mail: contato@agilecoachcamp.com.br
    </p>
    
  </div>
  
</section>