<!DOCTYPE html>
<html>
  <head>
    <title>Agilecoachcamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Agile Coach Camp</h1>
            <p class="lead">A hand-drawn look for mockups and mirth</p>
          </div>
          
        </div>
      </div>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <%= yield %>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
